<!-- M-Space Star System -->
<div class="sheet-star-system sheet-flex">
    <div class="sheet-section sheet-rmargin">
        <h2 data-i18n="stats">Stats</h2>
        <div class="flex">
            <label class="sheet-left" data-i18n="name">Name</label>
            <input type="text" class="sheet-full-width sheet-usrinput" title="@{character_name}" name="attr_character_name">
        </div>
        <div>
            <div class="system-label"><span data-i18n="sub-sector" class="bold">Sub Sector</span>:</div>
            <div class="system-field"><input type="text" class="full-width" name="attr_system_subsector"></div>
        </div>
        <div>
            <div class="system-label"><span data-i18n="hex" class="bold">Hex</span>:</div>
            <div class="system-field"><input type="text" class="full-width" name="attr_system_hex"></div>
        </div>
        <div>
            <div class="system-label"><span data-i18n="star-type" class="bold">Star Type</span>:</div>
            <div class="system-field"><input type="text" class="full-width" name="attr_system_star"></div>
        </div>
        <div>
            <div class="system-label"><span data-i18n="planets" class="bold">Planets</span>:</div>
            <div class="system-field"><input type="text" class="full-width" name="attr_system_planets"></div>
        </div>
        <div>
            <div class="system-label"><span data-i18n="habitable" class="bold">Habitable</span>:</div>
            <div class="system-field"><input type="text" class="full-width" name="attr_system_habitable"></div>
        </div>
        <div>
            <div class="system-label"><span data-i18n="starports" class="bold">Starports</span>:</div>
            <div class="system-field"><input type="text" class="full-width" name="attr_system_starports"></div>
        </div>
        <div>
            <div class="system-label"><span data-i18n="astroid-belt" class="bold">Astroid Belt</span>:</div>
            <div class="system-field"><input type="text" class="full-width" name="attr_system_astroid_belt"></div>
        </div>
        <div><span data-i18n="notes" class="bold">Notes</span>:</div>
        <div><textarea name="attr_system_notes"></textarea></div>
    </div>
    <div>
        <div class="sheet-section sheet-bmargin">
            <h2><span data-i18n="species" class="bold">Species</span></h2>
            <fieldset class="repeating_systemspecies">
                <div><span data-i18n="name" class="bold">Name</span>: <input type="text" name="attr_name"></div>
                <div><span data-i18n="description" class="bold">Description</span>:</div>
                <div><textarea style="height: 5em" name="attr_description"></textarea></div>
            </fieldset>
        </div>
        <div class="sheet-section sheet-bmargin">
            <h2><span data-i18n="worlds" class="bold">Worlds</span></h2>
            <fieldset class="repeating_systemworld">
                <div><span data-i18n="name" class="bold">Name</span>: <input type="text" name="attr_name"></div>
                <div><span data-i18n="description" class="bold">Description</span>:</div>
                <div><textarea style="height: 5em" name="attr_description"></textarea></div>
            </fieldset>
        </div>
    </div>
</div>