<div>
    <button type="action" name="act_recalc" class="sheet-action-btn sheet-text-center" data-i18n="recalculate-sheet">Recalculate Sheet</button>
</div>

<div class="sheet-flex">
    <!-- Rolls-->
    <div class="sheet-half-col sheet-rmargin sheet-bpad sheet-section sheet-rpad">
        <h2 data-i18n="rolls">Rolls</h2>

        <!-- Whisper to GM -->
        <div class="sheet-flex">
            <div class="sheet-grow">
                <label class="sheet-checkbox">
                    <input type="checkbox" name="attr_roll_display" value="/w gm " checked>
                    <span data-i18n="whisper-to-gm">Whisper to GM</span>
                </label>
            </div>

            <!-- Show name in roll templates -->
            <div class="sheet-grow">
                <label class="sheet-checkbox">
                    <input type="checkbox" name="attr_name_display" value="{{'{{character=@{character_name}}}'}}" checked>
                    <span data-i18n="display-name">Display Name</span>
                </label>
            </div>
        </div>
    </div>

    <!-- Miscellaneous -->
    <div class="sheet-half-col sheet-bpad sheet-section sheet-rpad">
        <h2 data-i18n="miscellaneous">Miscellaneous</h2>

        <!-- On-screen Tips -->
        <label class="sheet-checkbox">
            <input type="checkbox" name="attr_onscreen_tips" value="1" checked>
            <span data-i18n="onscreen-tip-label">Display on-screen tips intended to help new users learn the sheet.</span>
        </label>
    </div>
</div>

<h1 data-i18n="campaign-settings">Campaign Settings</h1>

<div class="sheet-warnmsg">
    <span data-i18n="campaign-settings-warning">Campaign settings are generally set by your GM and should not be adjusted on a sheet by sheet basis.  They are provided here for visibility, experimentation and other rare use cases.  Make sure to check with your GM before making any alterations.</span>
</div>

<div class="sheet-section sheet-rpad">
    <div class="sheet-hcombo">
        <div>
            <h2 i18n-data="game-setting">Game Setting</h2>
        </div>
        <div class="sheet-rpad">
            <select class="sheet-usrinput" name="attr_setting_option">
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="default" data-i18n="default" selected>Default</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="after_the_vampire_wars" data-i18n="after-the-vampire-wars">After the Vampire Wars</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="agony_and_ecstasy" data-i18n="agony-and-ecstasy">Agony and Ecstasy</option>
                <option class="sheet-classic-fantasy-style-toggle" name="attr_setting_option" value="classic_fantasy" data-i18n="classic-fantasy">Classic Fantasy</option>
                <option class="sheet-luther-arkwright-style-toggle" name="attr_setting_option" value="luther_arkwright" data-i18n="luther-arkwright">Luther Arkwright</option>
                <option class="sheet-m-space-style-toggle" name="attr_setting_option" value="m-space" data-i18n="m-space">M-Sapce</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="monster_island" data-i18n="monster-island">Monseter Island</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="mythic_britain" data-i18n="mythic-britain">Mythic Britain</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="mythic_constantinople" data-i18n="mythic-constantinople">Mythic Constantinople</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="mythic_rome" data-i18n="mythic-rome">Mythric Rome</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="mythras_imperative" data-i18n="mythras-imperative">Mythras Imperative</option>
                <option class="sheet-odd-soot-style-toggle" name="attr_setting_option" value="odd_soot" data-i18n="odd-soot">Odd Soot</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="thennla" data-i18n="thennla">Thennla</option>
                <option class="sheet-default-style-toggle" name="attr_setting_option" value="worlds_united" data-i18n="worlds-united">Worlds United</option>
            </select>
        </div>
    </div>
    <span data-i18n="setting-description">Sets the default sheet options and mechanics to match the rules as presented in the setting's source book.  Individual options may be overridden below.</span>
</div>

<div class="sheet-flex">
    <div class="sheet-half-col sheet-rmargin">
        <!-- System -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="system">System</h2>

            <!-- Extended Conflict Resolution -->
            <div class="flex">
                <label class="sheet-left" data-i18n="extended-conflict-resolution">Extended Conflict Resolution</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_extended_conflict_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="extended-conflict-resolution-description">Use the extended conflict resolution system from M-Space & Odd Soot.  M-Space p. 42 or Odd Soot p. 72.</span>

            <!-- Simplified Combat -->
            <div class="flex">
                <label class="sheet-left" data-i18n="simplified-combat">Simplified Combat</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_simplified_combat_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="simplified-combat-description">Uses the optional simplified combat rules from M-Space & Odd Soot. M-Space p. 75 or Odd Soot p. 100</span>

            <!-- Social Conflict -->
            <div class="flex">
                <label class="sheet-left" data-i18n="social-conflict">Social Conflict</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_social_conflict_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="social-conflict-description">Uses the optional simplified combat rules from M-Space & Odd Soot. M-Space p. 75 or Odd Soot p. 100</span>

            <!-- The Soot -->
            <div class="flex">
                <label class="sheet-left" data-i18n="the-soot">The Soot</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_the_soot_standard_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="the-soot-description">Provide a field to record and roll a character's The Soot value. Odd Soot p. 48.</span>
        </div>

        <!-- Skills -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="skills">Skills</h2>

            <!-- Herculean Skill Modifier -->
            <input class="sheet-hidden" name="attr_herculean_mod" value=".1" readonly>
            <div class="flex">
                <label class="sheet-left" data-i18n="herculean-skill-modifier">Herculean Skill Modifier</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_herculean_mod_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value=".1">1/10</option>
                    <option value=".2">1/5</option>
                </select>
            </div>
            <span data-i18n="herculean-mod-description">Herculean difficulty is 1/10 or 1/5 normal skill value.  Mythras Imperative, M-Space & Odd Soot use 1/5 by default.</span>

            <!-- Boating -->
            <div class="flex">
                <label class="sheet-left" data-i18n="boating">Boating</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_boating_standard_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="boating-description">List Boating as a standard skill. Luther Arkwright does not by default.</span>
            <!-- Drive -->
            <div class="flex">
                <label class="sheet-left" data-i18n="drive">Drive</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_drive_standard_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="boating-description">List Drive as a standard skill. Luther Arkwright does not by default.</span>
            <!-- Ride -->
            <div class="flex">
                <label class="sheet-left" data-i18n="ride">Ride</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_ride_standard_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="boating-description">List Ride as a standard skill. Luther Arkwright does not by default.</span>
            <!-- Status -->
            <div class="flex">
                <label class="sheet-left" data-i18n="status">Status</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_status_standard_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="status-description">List Status as a standard skill.</span>
            <!-- Superstition -->
            <div class="flex">
                <label class="sheet-left" data-i18n="superstition">Superstition</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_superstition_standard_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="superstition-description">List Superstition as a standard skill; Mythic Britain p. 136.</span>
        </div>

        <!-- Weapon Settings -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="weapons">Weapons</h2>

            <!-- Reach -->
            <div class="flex">
                <label class="sheet-left" data-i18n="reach">Reach</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_reach_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="reach-description">Show a reach field for close-combat weapons; Mythras p. 106.  Mythras Imperative, M-Space & Odd Soot do not use reach by default.</span>

            <!-- Fire Rate -->
            <div class="flex">
                <label class="sheet-left" data-i18n="fire-rate">Fire Rate</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_fire_rate_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="fire-rate-description">Add a Fire Rate field for automatic weapons; Luther Arkwright p. 97, AtVW p. 60.</span>
        </div>
    </div>


    <div class="sheet-half-col">
        <div class="sheet-section sheet-rpad">
            <!-- Attributes -->
            <h2 data-i18n="attributes">Attributes</h2>

            <!-- Action Point Calculation -->
            <div class="flex">
                <label class="sheet-left" data-i18n="action-points-calculation">Action Points Calculation</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_action_points_calc_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="calculate" data-i18n="calculated">Calculated</option>
                    <option value="set_2" data-i18n="set-at-2">Set at 2</option>
                    <option value="set_3" data-i18n="set-at-3">Set at 3</option>
                </select>
            </div>
            <span data-i18n="action-points-calc-description">Calculate Action Points from characteristics or a set static value. Mythras p. 8.  Mythras Imperative, M-Space and Odd Soot use 'Set at 2' by default.</span>

            <!-- Rank -->
            <div class="flex">
                <label class="sheet-left" data-i18n="rank">Rank</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_luck_points_rank_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="rank-description">Characters have a Rank which is added to their total Luck Points. Classic Fantasy p. 9.</span>


            <!-- Magic Points -->
            <div class="flex">
                <label class="sheet-left" data-i18n="magic-points">Magic Points</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_magic_points_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="magic-points-description">List Magic Points as an attribute.</span>
            <!-- Power Points -->
           <div class="flex">
                <label class="sheet-left" data-i18n="power-points">Power Points</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_power_points_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="power-points-description">List Power Points as an attribute.</span>
            <!-- Prana Points -->
            <div class="flex">
                <label class="sheet-left" data-i18n="prana-points">Prana Points</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_prana_points_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="prana-points-description">List Prana Points as an attribute; Luther Arkwright p. 19.</span>
            <!-- Strangeness -->
            <div class="flex">
                <label class="sheet-left" data-i18n="strangeness">Strangeness</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_strangeness_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="strangeness-description">List Strangeness as an attribute; M-Space p. 122, Odd Soot Oddities p. 7.</span>
            <!-- Tenacity -->
            <div class="flex">
                <label class="sheet-left" data-i18n="tenacity">Tenacity</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_tenacity_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="tenacity-description">List Tenacity as an attribute.</span>
        </div>

        <!-- Passions -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="passions">Passions</h2>

            <!-- Dependencies -->
            <div class="flex">
                <label class="sheet-left" data-i18n="dependencies">Dependencies</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_dependencies_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="dependencies-description">Enable dependencies; Mythras Companion p. 29, Luther Arkwright p. 45.</span>

            <!-- Peculiarities -->
            <div class="flex">
                <label class="sheet-left" data-i18n="peculiarities">Peculiarities</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_peculiarities_enabled_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="1" data-i18n="enabled">Enabled</option>
                    <option value="0" data-i18n="disabled">Disabled</option>
                </select>
            </div>
            <span data-i18n="peculiarities-description">Use peculiarities. Odd Soot p. 50.</span>
        </div>

        <!-- Magic -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="magic">Magic</h2>

            <!-- Folk Magic Range -->
            <div class="flex">
                <label class="sheet-left" data-i18n="folk-magic-range">Folk Magic Range</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_folk_magic_range_multiplier_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value=".2" data-i18n="folk-magic-skill-divided-by-five">Folk Magic Skill / 5</option>
                    <option value="1" data-i18n="folk-magic-skill">Folk Magic Skill</option>
                </select>
            </div>
            <span data-i18n="folk-magic-range-description">Range, in meters, of Folk Magic spells with the Ranged trait.  AtVW uses 1/5 by default, p. 76.</span>

            <!-- Max Devotional Pool -->
            <div class="flex">
                <label class="sheet-left" data-i18n="max-devotional-pool">Max Devotional Pool</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_max_devotional_pool_based_on_option">
                    <option value="default" data-i18n="setting-default" selected>Setting Default</option>
                    <option value="@{rank_devotion_pool_limit}" data-i18n="per-cult-rank">Per Cult Rank</option>
                    <option value="@{pow}" data-i18n="pow">POW</option>
                </select>
            </div>
            <span data-i18n="max-devotional-pool-description">Base the max devotional pool on cult rank or POW.  Mythic Constantinople uses POW by default, p. 80.</span>
        </div>
    </div>
</div>