<!-- Sheet Type Selection -->
<label class="sheet-left" data-i18n="sheet-type">Sheet Type</label>&nbsp;
<select data-i18n-list="sheet-type-order" title="{{'@{type}'}}" class="sheet-usrinput" name="attr_type">
    <option {% if not battle_units %}class="sheet-hidden"{% endif %} value="battle-unit" data-i18n-list-item="battle-unit" data-i18n="battle-unit">Battle Unit</option>
    <option value="character" data-i18n-list-item="character" data-i18n="character" selected>Character</option>
    <option {% if not ships %}class="sheet-hidden"{% endif %} value="ship" data-i18n-list-item="ship" data-i18n="ship">Ship</option>
    <option {% if not star_systems %}class="sheet-hidden"{% endif %} value="star_system" data-i18n-list-item="star-system" data-i18n="star-system">Star System</option>
    <option {% if not vehicles %}class="sheet-hidden"{% endif %} value="vehicle" data-i18n-list-item="vehicle"><span data-i18n="vehicle">Vehicle</span>/<span data-i18n="spaceship">Spaceship</span></option>
</select>

<!-- Campaign Settings Warning -->
<div class="sheet-warnmsg">
    <span data-i18n="settings-warning">The below settings are generally set by your GM and should not be adjusted on a sheet by sheet basis.  They are provided here for visibility, experimentation and other rare use cases.  Make sure to check with your GM before making any alterations.</span>
</div>

<!-- Campaign Settings -->
<div class='sheet-space-between'>
    <div class="sheet-third-col sheet-rmargin">
        <!-- Systems -->
        <div class="sheet-section">
            <h2 data-i18n="mechanical-systems">Mechanical Systems</h2>

            <!-- Extended Conflict Resolution -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_extended_conflict_resolution_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="extended-conflict-resolution">Extended Conflict Resolution</span>
                </label>
            </div>

            <!-- Rank -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_luck_points_rank' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="rank">Rank</span>
                </label>
            </div>

            <!-- Simplified Combat -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_simplified_combat_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="simplified-combat">Simplified Combat</span>
                </label>
            </div>

            <!-- Social Conflict -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_social_conflict_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="social_conflict">Social Conflict</span>
                </label>
            </div>
        </div>

        <!-- Skills -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="skills">Skills</h2>

            <!-- Herculean Skill Modifier -->
            <div class="sheet-flex">
                <label class="sheet-left" data-i18n="herculean-modifier">Herculean Modifier</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_herculean_mod">
                    <option value=".1">1/10</option>
                    <option value=".2">1/5</option>
                </select>
            </div>

            <div><label class="sheet-left" data-i18n="standard-skills">Standard Skills</label></div>
            <!-- Boating Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_boating_standard' value="1" checked><span>3</span>
                    <span data-i18n="boating">Boating</span>
                </label>
            </div>
            <!-- Drive Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_drive_standard' value="1" checked><span>3</span>
                    <span data-i18n="drive">Drive</span>
                </label>
            </div>
            <!-- Home Parallel Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_home_parallel_standard' value="1"><span>3</span>
                    <span data-i18n="home_parallel">Home Parallel</span>
                </label>
            </div>
            <!-- Locale Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_locale_standard' value="1" checked><span>3</span>
                    <span data-i18n="locale">Locale</span>
                </label>
            </div>
            <!-- Ride Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_ride_standard' value="1" checked><span>3</span>
                    <span data-i18n="ride">Ride</span>
                </label>
            </div>
            <!-- Status Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_status_standard' value="1"><span>3</span>
                    <span data-i18n="status">Status</span>
                </label>
            </div>
            <!-- Strangeness Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_strangeness_standard' value="1"><span>3</span>
                    <span data-i18n="strangeness">Strangeness</span>
                </label>
            </div>
            <!-- Superstition Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_superstition_standard' value="1"><span>3</span>
                    <span data-i18n="superstition">Superstition</span>
                </label>
            </div>
            <!-- The Soot Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_the_soot_standard' value="1"><span>3</span>
                    <span data-i18n="the_soot">The Soot</span>
                </label>
            </div>
        </div>
    </div>


    <div class="sheet-third-col sheet-rmargin">
        <!-- Weapon Settings -->
        <div class="sheet-section">
            <h2 data-i18n="weapons">Weapons</h2>

            <label class="sheet-checkbox">
                <input type='checkbox' name='attr_firearms_enabled' value="1"/><span>3</span>
                <span data-i18n="firearm_traits">Firearm Traits</span>
            </label>
        </div>

        <div class="sheet-section sheet-rpad">
            <!-- Attributes -->
            <h2 data-i18n="attributes">Attributes</h2>

            <!-- Action Point Calculation -->
            <div class="sheet-flex">
                <label class="sheet-left" data-i18n="action_points">Action Points</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_action_points_calc">
                    <option value="calculate" data-i18n="calculated" selected>Calculated</option>
                    <option value="set_2" data-i18n="set-at-2">Set at 2</option>
                    <option value="set_3" data-i18n="set-at-3">Set at 3</option>
                </select>
            </div>

            <!-- Magic Points -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_magic_points_enabled' value="1" checked/><span>3</span>
                    <span class="sheet-bold" data-i18n="magic_points">Magic Points</span>
                </label>
            </div>

            <!-- Power Points -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_power_points_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="power_points">Power Points</span>
                </label>
            </div>

            <!-- Prana Points -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_prana_points_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="prana_points">Prana Points</span>
                </label>
            </div>

            <!-- Tenacity -->
            <div class="flex">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_tenacity_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="tenacity">Tenacity</span>
                </label>
            </div>
        </div>

        <div class="sheet-section sheet-rpad" data-i18n-list="sheet-passion-toggle-order">
            <!-- Passions -->
            <h2 data-i18n="passions">Passions</h2>

            <!-- Corruptions -->
            <div data-i18n-list-item="corruptions">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_corruptions_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="corruptions">Corruptions</span>
                </label>
            </div>

            <!-- Dependencies -->
            <div data-i18n-list-item="dependencies">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_dependencies_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="dependencies">Dependencies</span>
                </label>
            </div>

            <!-- Perculiarities -->
            <div data-i18n-list-item="peculiarities">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_peculiarities_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="peculiarities">Perculiarities</span>
                </label>
            </div>
        </div>
    </div>

    <div class="sheet-third-col">
        <!-- Abilities -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="abilities">Abilities</h2>
        </div>
    </div>
</div>