<!-- Sheet Type Selection -->
<label class="sheet-left" data-i18n="sheet-type">Sheet Type</label>&nbsp;
<select data-i18n-list="sheet-type-order" title="{{'@{type}'}}" class="sheet-usrinput" name="attr_type">
    <option {% if not battle_units %}class="sheet-hidden"{% endif %} value="battle-unit" data-i18n-list-item="battle-unit" data-i18n="battle-unit">Battle Unit</option>
    <option value="character" data-i18n-list-item="character" data-i18n="character" selected>Character</option>
    <option {% if not ships %}class="sheet-hidden"{% endif %} value="ship" data-i18n-list-item="ship" data-i18n="ship">Ship</option>
    <option {% if not star_systems %}class="sheet-hidden"{% endif %} value="star_system" data-i18n-list-item="star-system" data-i18n="star-system">Star System</option>
    <option {% if not vehicles %}class="sheet-hidden"{% endif %} value="vehicle" data-i18n-list-item="vehicle"><span data-i18n="vehicle">Vehicle</span>/<span data-i18n="spaceship">Spaceship</span></option>
</select>

<!-- Campaign Settings Warning -->
<div class="sheet-warnmsg">
    <span data-i18n="settings-warning">The below settings are generally set by your GM and should not be adjusted on a sheet by sheet basis.  They are provided here for visibility, experimentation and other rare use cases.  Make sure to check with your GM before making any alterations.</span>
</div>

<!-- Campaign Settings -->
<div class='sheet-space-between'>
    <div class="sheet-third-col sheet-rmargin">
        <!-- Systems -->
        <div class="sheet-section">
            <h2 data-i18n="mechanical-systems">Mechanical Systems</h2>

            <!-- Dependencies -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_dependencies_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_dependencies"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="dependencies">Dependencies</label>
            </div>

            <!-- Extended Conflict Resolution -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_extended_conflict_resolution_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_extended_conflict_resolution"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="extended-conflict-resolution">Extended Conflict Resolution</label>
            </div>

            <!-- Rank -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_luck_points_rank_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_luck_points_rank"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="rank">Rank</label>
            </div>

            <!-- Simplified Combat -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_simplified_combat_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_simplified_combat"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="simplified-combat">Simplified Combat</label>
            </div>

            <!-- Social Conflict -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_social_conflict_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_social_conflict"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="social-conflict">social_conflict</label>
            </div>
        </div>

        <!-- Skills -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="skills">Skills</h2>

            <!-- Herculean Skill Modifier -->
            <div class="flex">
                <label class="sheet-left" data-i18n="herculean-modifier">Herculean Modifier</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_herculean_mod">
                    <option value=".1">1/10</option>
                    <option value=".2">1/5</option>
                </select>
            </div>

            <div><label class="sheet-left" data-i18n="standard-skills">Standard Skills</label></div>
        </div>
    </div>


    <div class="sheet-third-col sheet-rmargin">
        <!-- Weapon Settings -->
        <div class="sheet-section">
            <h2 data-i18n="weapons">Weapons</h2>

            <label class="sheet-left" data-i18n="close-combat">Close Combat</label>

            <!-- Reach -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_reach_enabled' value="0"/>
                &emsp;<button type="action" class="sheet-checkbox" name="act_reach"><span class="sheet-pictos">3</span></button>
                <label class="sheet-checkbox" data-i18n="reach">Reach</label>
            </div>

            <label class="sheet-left" data-i18n="ranged">Ranged</label>

            <!-- Fire Rate -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_fire_rate_enabled' value="0"/>
                &emsp;<button type="action" class="sheet-checkbox" name="act_fire_rate"><span class="sheet-pictos">3</span></button>
                <label class="sheet-checkbox" data-i18n="fire-rate">Fire Rate</label>
            </div>
        </div>

        <div class="sheet-section sheet-rpad">
            <!-- Attributes -->
            <h2 data-i18n="attributes">Attributes</h2>

            <!-- Action Point Calculation -->
            <div class="flex">
                <label class="sheet-left" data-i18n="action-points">Action Points</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_action_points_calc">
                    <option value="calculate" data-i18n="calculated" selected>Calculated</option>
                    <option value="set_2" data-i18n="set-at-2">Set at 2</option>
                    <option value="set_3" data-i18n="set-at-3">Set at 3</option>
                </select>
            </div>

            <!-- Magic Points -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_magic_points_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_magic_points"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="magic-points">Magic Points</label>
            </div>

            <!-- Power Points -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_power_points_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_power_points"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="power-points">Power Points</label>
            </div>

            <!-- Prana Points -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_prana_points_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_prana_points"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="prana-points">Prana Points</label>
            </div>

            <!-- Tenacity -->
            <div class="flex">
                <input type='hidden' class='sheet-checkbox' name='attr_tenacity_enabled' value="0"/>
                <button type="action" class="sheet-checkbox" name="act_tenacity"><span class="sheet-pictos">3</span></button>
                <label class="sheet-right" data-i18n="tenacity">Tenacity</label>
            </div>
        </div>
    </div>

    <div class="sheet-third-col">
        <!-- Abilities -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="abilities">Abilities</h2>
        </div>
    </div>
</div>