<!-- Sheet Type Selection -->
<label class="sheet-left" data-i18n="sheet-type">Sheet Type</label>&nbsp;
<select data-i18n-list="sheet-type-order" title="{{'@{type}'}}" class="sheet-usrinput" name="attr_type">
    <option {% if not battle_units %}class="sheet-hidden"{% endif %} value="battle-unit" data-i18n-list-item="battle-unit" data-i18n="battle-unit">Battle Unit</option>
    <option value="character" data-i18n-list-item="character" data-i18n="character" selected><span data-i18n="character">Character</span>/<span data-i18n="creature">Creature</span></option>
    <option {% if not ships %}class="sheet-hidden"{% endif %} value="ship" data-i18n-list-item="ship" data-i18n="ship">Ship</option>
    <option {% if not star_systems %}class="sheet-hidden"{% endif %} value="star_system" data-i18n-list-item="star-system" data-i18n="star-system">Star System</option>
    <option {% if not vehicles %}class="sheet-hidden"{% endif %} value="vehicle" data-i18n-list-item="vehicle"><span data-i18n="vehicle">Vehicle</span>/<span data-i18n="spaceship">Spaceship</span></option>
</select>

<!-- Campaign Settings Warning -->
<div class="sheet-warnmsg">
    <span data-i18n="settings-warning">The below settings are generally set by your GM and should not be adjusted on a sheet by sheet basis.  They are provided here for visibility, experimentation and other rare use cases.  Make sure to check with your GM before making any alterations.</span>
</div>

<!-- Campaign Settings -->
<div class='sheet-space-between'>
    <div class="sheet-third-col sheet-rmargin">
        <!-- Systems -->
        <div class="sheet-section">
            <h2 data-i18n="mechanical-systems">Mechanical Systems</h2>

            <!-- Extended Conflict Resolution -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_extended_conflict_resolution_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="extended-conflict-resolution">Extended Conflict Resolution</span>
                </label>
            </div>

            <!-- Rank -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_luck_points_rank' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="rank">Rank</span>
                </label>
            </div>

            <!-- Simplified Combat -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_simplified_combat_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="simplified-combat">Simplified Combat</span>
                </label>
            </div>

            <!-- Social Conflict -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_social_conflict_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="social_conflict">Social Conflict</span>
                </label>
            </div>

            <!-- Limitations -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_limitations_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="limitations">Limitations</span>
                </label>
            </div>
        </div>

        <!-- Skills -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="skills">Skills</h2>

            <!-- Herculean Skill Modifier -->
            <div class="sheet-flex">
                <label class="sheet-left" data-i18n="herculean-modifier">Herculean Modifier</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_herculean_mod">
                    <option value=".1">1/10</option>
                    <option value=".2">1/5</option>
                </select>
            </div>

            <div><label class="sheet-left" data-i18n="standard-skills">Standard Skills</label></div>
            <!-- Boating Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_boating_standard' value="1" checked><span>3</span>
                    <span data-i18n="boating">Boating</span>
                </label>
            </div>
            <!-- Drive Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_drive_standard' value="1" checked><span>3</span>
                    <span data-i18n="drive">Drive</span>
                </label>
            </div>
            <!-- Home Parallel Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_home_parallel_standard' value="1"><span>3</span>
                    <span data-i18n="home_parallel">Home Parallel</span>
                </label>
            </div>
            <!-- Locale Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_locale_standard' value="1" checked><span>3</span>
                    <span data-i18n="locale">Locale</span>
                </label>
            </div>
            <!-- Ride Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_ride_standard' value="1" checked><span>3</span>
                    <span data-i18n="ride">Ride</span>
                </label>
            </div>
            <!-- Status Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_status_standard' value="1"><span>3</span>
                    <span data-i18n="status">Status</span>
                </label>
            </div>
            <!-- Strangeness Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_strangeness_standard' value="1"><span>3</span>
                    <span data-i18n="strangeness">Strangeness</span>
                </label>
            </div>
            <!-- Superstition Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_superstition_standard' value="1"><span>3</span>
                    <span data-i18n="superstition">Superstition</span>
                </label>
            </div>
            <!-- The Soot Standard -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_the_soot_standard' value="1"><span>3</span>
                    <span data-i18n="the_soot">The Soot</span>
                </label>
            </div>
        </div>
    </div>


    <div class="sheet-third-col sheet-rmargin">
        <!-- Weapon Settings -->
        <div class="sheet-section">
            <h2 data-i18n="weapons">Weapons</h2>

            <div><label class="sheet-left" data-i18n="close_combat">Close Combat</label></div>
            <!-- Reach -->
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_reach_enabled' value="1" checked><span>3</span>
                    <span data-i18n="reach">Reach</span>
                </label>
            </div>

            <div><label class="sheet-left" data-i18n="ranged">Ranged</label></div>
            <div class="sheet-lpad">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_fire_rate_enabled' value="1"/><span>3</span>
                    <span data-i18n="fire_rate">Fire Rate</span>
                </label>
            </div>
        </div>

        <div class="sheet-section sheet-rpad">
            <!-- Attributes -->
            <h2 data-i18n="attributes">Attributes</h2>

            <!-- Action Point Calculation -->
            <div class="sheet-flex">
                <label class="sheet-left" data-i18n="action_points">Action Points</label>
                <select class="sheet-full-width sheet-usrinput" name="attr_action_points_calc">
                    <option value="calculate" data-i18n="calculated" selected>Calculated</option>
                    <option value="set_2" data-i18n="set-at-2">Set at 2</option>
                    <option value="set_3" data-i18n="set-at-3">Set at 3</option>
                </select>
            </div>

            <!-- Magic Points -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_magic_points_enabled' value="1" checked/><span>3</span>
                    <span class="sheet-bold" data-i18n="magic_points">Magic Points</span>
                </label>
            </div>

            <!-- Power Points -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_power_points_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="power_points">Power Points</span>
                </label>
            </div>

            <!-- Prana Points -->
            <div>
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_prana_points_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="prana_points">Prana Points</span>
                </label>
            </div>

            <!-- Tenacity -->
            <div class="flex">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_tenacity_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="tenacity">Tenacity</span>
                </label>
            </div>
        </div>

        <div class="sheet-section sheet-rpad" data-i18n-list="sheet-passion-toggle-order">
            <!-- Passions -->
            <h2 data-i18n="passions">Passions</h2>

            <!-- Corruptions -->
            <div data-i18n-list-item="corruptions">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_corruptions_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="corruptions">Corruptions</span>
                </label>
            </div>

            <!-- Dependencies -->
            <div data-i18n-list-item="dependencies">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_dependencies_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="dependencies">Dependencies</span>
                </label>
            </div>

            <!-- Perculiarities -->
            <div data-i18n-list-item="peculiarities">
                <label class="sheet-checkbox">
                    <input type='checkbox' name='attr_peculiarities_enabled' value="1"/><span>3</span>
                    <span class="sheet-bold" data-i18n="peculiarities">Perculiarities</span>
                </label>
            </div>
        </div>
    </div>

    <div class="sheet-third-col">
        <!-- Abilities -->
        <div class="sheet-section sheet-rpad">
            <h2 data-i18n="abilities">Abilities</h2>

            <div><label class="sheet-left" data-i18n="fields">Fields</label></div>
            <div class="sheet-lpad">
                <!-- Armor Penalty -->
                <div>
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_abilities_armor_penalty_enabled' value="1"><span>3</span>
                        <span data-i18n="armor_penalty">Armor Penalty</span>
                    </label>
                </div>
                <!-- Prompts -->
                <div>
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_abilities_prompts_enabled' value="1"><span>3</span>
                        <span data-i18n="prompts">Prompts</span>
                    </label>
                </div>
            </div>

            <div><label class="sheet-left" data-i18n="types">Types</label></div>
            <div class="sheet-lpad" data-i18n-list="ability-type-order">
                <!-- Alchemy -->
                <div data-i18n-list-item="alchemy">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_alchemy_enabled' value="1"><span>3</span>
                        <span data-i18n="alchemy">Alchemy</span>
                    </label>
                </div>

                <!-- Animism -->
                <div data-i18n-list-item="animism">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_animism_enabled' value="1" checked><span>3</span>
                        <span data-i18n="animism">Animism</span>
                    </label>
                </div>

                <!-- Arcane Magic -->
                <div data-i18n-list-item="arcane_magic">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_arcane_magic_enabled' value="1"><span>3</span>
                        <span data-i18n="arcane_magic">Arcane Magic</span>
                        (<label class="sheet-checkbox">
                        <input type='checkbox' name='attr_arcane_magic_prompts_enabled' value="1" checked><span>3</span>
                        <span data-i18n="prompt_for_intensity">Prompt for intensity</span></label>)
                    </label>
                </div>

                <!-- Artifice -->
                <div data-i18n-list-item="artifice">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_artifice_enabled' value="1"><span>3</span>
                        <span data-i18n="artifice">Artifice</span>
                    </label>
                </div>

                <!-- Divine Magic -->
                <div data-i18n-list-item="divine_magic">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_divine_magic_enabled' value="1"><span>3</span>
                        <span data-i18n="divine_magic">Divine Magic</span>
                        (<label class="sheet-checkbox">
                        <input type='checkbox' name='attr_divine_magic_prompts_enabled' value="1" checked><span>3</span>
                        <span data-i18n="prompt_for_intensity">Prompt for intensity</span></label>)
                    </label>
                </div>

                <!-- Fae Powers -->
                <div data-i18n-list-item="fae_powers">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_fae_powers_enabled' value="1"><span>3</span>
                        <span data-i18n="fae_powers">Fae Powers</span>
                    </label>
                </div>

                <!-- Folk Magic -->
                <div data-i18n-list-item="folk_magic">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_folk_magic_enabled' value="1" checked><span>3</span>
                        <span data-i18n="folk_magic">Folk Magic</span>
                    </label>
                </div>

                <!-- Magic -->
                <div data-i18n-list-item="magic">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_magic_enabled' value="1"><span>3</span>
                        <span data-i18n="magic">Magic</span>
                    </label>
                </div>

                <!-- Mysticism -->
                <div data-i18n-list-item="mysticism">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_mysticism_enabled' value="1" checked><span>3</span>
                        <span data-i18n="mysticism">Mysticism</span>
                        (<label class="sheet-checkbox">
                            <input type='checkbox' name='attr_mysticism_prompts_enabled' value="1" checked><span>3</span>
                            <span data-i18n="prompt_for_intensity">Prompt for intensity</span>
                        </label>)
                    </label>
                </div>

                <!-- Psionics -->
                <div data-i18n-list-item="psionics">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_psionics_enabled' value="1"><span>3</span>
                        <span data-i18n="psionics">Psionics</span>
                    </label>
                </div>

                <!-- Psychic Powers -->
                <div data-i18n-list-item="psychic_powers">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_psychic_powers_enabled' value="1"><span>3</span>
                        <span data-i18n="psychic_powers">Psychic Powers</span>
                    </label>
                </div>

                <!-- Sorcery -->
                <div data-i18n-list-item="sorcery">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_sorcery_enabled' value="1"><span>3</span>
                        <span data-i18n="sorcery">Sorcery</span>
                    </label>
                    (<label class="sheet-checkbox">
                    <input type='checkbox' name='attr_sorcery_prompts_enabled' value="1" checked><span>3</span>
                    <span data-i18n="prompt_for_casting_components">Prompt for casting components</span>
                </label>)
                </div>

                <!-- Super Powers -->
                <div data-i18n-list-item="super_powers">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_superpowers_enabled' value="1"><span>3</span>
                        <span data-i18n="super_powers">Super Powers</span>
                    </label>
                </div>

                <!-- Theism -->
                <div data-i18n-list-item="theism">
                    <label class="sheet-checkbox">
                        <input type='checkbox' name='attr_theism_enabled' value="1"><span>3</span>
                        <span data-i18n="theism">Theism</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>