<!-- Header -->
<div>
    <input type='hidden' class='sheet-toggle' name='attr_config_on'/>
    <div class="sheet-space-between">
        <div>
            <input type="text" class="sheet-hidden" name="attr_version" value="3.0" readonly>
            <label class="sheet-left" data-i18n="sheet-version">Sheet Version</label>&nbsp;<span name="attr_version"></span>
        </div>
        <button type="action" class="sheet-toggle" name="act_config"><span class="sheet-pictos">y</span></button>
    </div>
    <div class="sheet-toggle">
        <hr>
        <!-- Sheet Type Selection -->
        <label class="sheet-left" data-i18n="sheet_type">Sheet Type</label>&nbsp;
        <select data-i18n-list="sheet-type-order" title="{{'@{type}'}}" name="attr_type">
            <option {% if not battle_units %}class="sheet-hidden"{% endif %} value="battle_unit" data-i18n-list-item="battle_unit" data-i18n="battle_unit">Battle Unit</option>
            <option value="character" data-i18n-list-item="character" data-i18n="character" selected>Character</option>
            <option {% if not ships %}class="sheet-hidden"{% endif %} value="ship" data-i18n-list-item="ship" data-i18n="ship">Ship</option>
            <option {% if not vehicles %}class="sheet-hidden"{% endif %} value="vehicle" data-i18n-list-item="vehicle"><span data-i18n="vehicle">Vehicle</span>/<span data-i18n="spaceship">Spaceship</span></option>
            <option {% if not solar_systems %}class="sheet-hidden"{% endif %} value="solar_system" data-i18n-list-item="solar_system" data-i18n="solar_system">Solar System</option>
        </select>
        <!-- Sheet Settings -->
        {% include 'core/sheet_settings.html' %}
    </div>
</div>

<hr>

<!-- Sheet Types -->
<input type="hidden" class="sheet-typetoggle" name="attr_type" value="character" />
{% if battle_units %}{% include 'mythras/battle_unit.html' %}{% endif %}
{% include 'character/character.html' %}
{% if ships %}{% include 'mythras/ship.html' %}{% endif %}
{% if vehicles == 'mythras' %}{% include 'mythras/vehicle.html' %}{% endif %}
{% if vehicles == 'frostbyte' %}{% include 'frostbyte/vehicle.html' %}{% endif %}
{% if solar_systems %}{% include 'frostbyte/solar_system.html' %}{% endif %}

<!-- Sheet Footer -->
<hr>

<div class="sheet-space-between">
    <button type="roll" class="sheet-link" name="roll_reportbug" value="Report a bug with the sheet here: https://github.com/DigitalPagan/Mythras-Roll20-Sheet/issues/new" data-i18n="report-a-bug">Report a Bug</button>
    <button type="roll" class="sheet-link" name="roll_roll20forum" value="Visit the Mythras Roll20 forum here: https://www.tapatalk.com/groups/designmechanism/mythras-roll20-f19/" data-i18n="mythras-roll20-forum">Mythras Roll20 Forum</button>
    <button type="roll" class="sheet-link" name="roll_contactsheetauthor" value="Visit the author's profile and send a private message: https://app.roll20.net/users/103705" data-i18n="contact-sheet-author">Contact Sheet Author</button>
</div>

<!-- Roll Templates -->
{% include 'roll_templates/default.html' %}