/* =Generic Styles reused over the sheet= */
/* === New generic styles === */
/* Layout */
div.sheet-space-between {
    display: flex;
    justify-content: space-between;
}

hr {
    margin: 0 0 5px;
}

/* Labels */
label {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: inherit;
    background: inherit;
}
label.sheet-under {
    text-align: center;
    font-size: .85em;
}
label.sheet-left {
    display: inline;
    text-align: left;
}
label.sheet-left::after {
    content: ':'
}

/* Toggles */
button.sheet-toggle {
    border: none;
    background: inherit;
    color: darkgray;
    margin: 0;
    padding: 0;
}
input.sheet-toggle[value="1"] ~ div button.sheet-toggle {
    color: inherit;
}
input.sheet-toggle:not([value="1"]) ~ div.sheet-toggle {
    display: none;
}

/* === Old generic styles === */

/* Sheet Defaults*/
div.sheet-character-wrapper {
    min-width: 850px;
    max-width: 850px;
    font-family: "Arial", sans-serif;
    font-size: 1em;
}
h1 {
    font-size: 2em;
    font-family: Palatino, serif;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 5px;

}
h2 {
    font-size: 1.5em;
    font-family: Palatino, serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 1.25em;
    line-height: 1.5em;
}
h3 {
    font-size: 1.25em;
    font-family: Palatino, serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    height: 1.25em;
    line-height: 1.25em;
    text-decoration: underline;

}
h4 {
    font-size: 1em;
    font-family: Palatino, serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 1em;
    line-height: 1em;
}

/* Tweak repeating section buttons so they have a bottom margin and dont overflow when in edit mode. */
div[class^="repcontrol"] {
    margin-bottom: 5px;
}
div[class="repcontainer editmode"] ~ div[class^="repcontrol"] button[class="btn repcontrol_add"] {
    display: inline-block!important;
    visibility: hidden;
}
/* Make repeating section inline-block for display modes */
fieldset.sheet-inlined~.repcontainer[data-groupname^="repeating_"] > .repitem {
    display: inline-block;
}

/* Make the delete buttons appear above the detail toggles */
.repcontainer .itemcontrol {
    z-index: 9999;
}

/* Layout */
div.sheet-float-left {
    float: left;
}
div.sheet-float-right {
    float: right;
}
div.sheet-clear-float {
    clear: both;
}

div.sheet-flex {
    display: flex;
}
div.sheet-half-col {
    width: 50%;
}
div.sheet-third-col {
    width: 33.33%;
}
div.sheet-twothird-col {
    width: 66.66%;
}
div.sheet-hcombo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.sheet-flex-col {
    display: flex;
    flex-direction: column;
}
div.sheet-grow {
    flex-grow: 1;
}
div.sheet-shrink {
    flex-shrink: 1;
}
.sheet-text-center {
    text-align: center;
    text-align-last:center;
}
.sheet-text-left {
    text-align: left;
}
.sheet-text-right {
    text-align: right !important
}
.sheet-bmargin {
    margin-bottom: 5px;
}
.sheet-rmargin {
    margin-right: 5px !important;
}
.sheet-lpad {
    padding-left: 5px !important;
}
.sheet-rpad {
    padding-right: 5px !important;
}
.sheet-bpad {
    padding-bottom: 5px !important;
}
.sheet-cellpad {
    padding: 1px 1px 0;
}

.sheet-section {
    border: 1px solid black;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 0 0 0 5px;
    border-radius: 10px;
}
.sheet-header {
    text-align: center;
    background: dimgray;
    color: lightgray;
    white-space: nowrap;
}
.sheet-hidden {
    display: none;
}
.sheet-number-width {
    width: 47px !important;
    flex-shrink: 0;
}
.sheet-number-width-sm {
    width: 25px !important;
    flex-shrink: 0;
}
.sheet-checkbox-width {
    width: 21px !important;
    flex-shrink: 0;
}
.sheet-button-width {
    width: 27px !important;
    flex-shrink: 0;
}
.sheet-full-width {
    width: 100% !important;
}
.sheet-auto-width {
    width: auto !important;
}

/* Section Accordion */
input[type="checkbox"].sheet-accordion
{
    opacity: 0;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}
h4.sheet-accordion {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-left: -100%;
    padding-left: 16px;
}

input[type="checkbox"].sheet-accordion + h4::after {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    content: " ►";
}

input[type="checkbox"].sheet-accordion:checked + h4::after {
    content: " ▼";
}

input[type="checkbox"].sheet-accordion:not(:checked) ~ div.sheet-accordion {
    display: none;
}


/* Font */
.sheet-pictos {
    font-family: 'Pictos';
}
.sheet-pictos-three {
    font-family: 'Pictos Three';
}

/* Fieldset */
a.repcontrol_move {
    padding: 0 5px 0 !important;
    margin: 0!important;
    height: 1.25em;!important;
    font-size: 1em !important;
    line-height: 1.25em;
}

/* Buttons */
button {
    padding: 0 5px 0;
    margin: 0!important;
    height: 1.5em;!important;
    font-size: 1em !important;
    line-height: 1em;
}
button[type=roll] {
    box-sizing: border-box;
    padding: 0;
}
button[type=action] {
    box-sizing: border-box;
    padding: 0;
}
button[type=roll].sheet-nodie::before {
    content: '';
    box-sizing: border-box;
}
button[type=roll].sheet-d100::before {
    font-family: 'dicefontd10';
    vertical-align: text-bottom;
    font-size: 1.75em;
}
button[type=roll].sheet-effect::before {
    font-family: 'pictos';
    vertical-align: text-bottom;
    font-size: 1.25em;
    content: "e";
}
button.sheet-link {
    padding: 0!important;
    background: none!important;
    box-shadow: none!important;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
    text-shadow: none;
    line-height: inherit;
    height: inherit;
}
button.sheet-link-label {
    font-weight: bold;
    vertical-align: top;
}
button.sheet-link-label-under {
    font-size: .85em!important;
    font-weight: bold;
    vertical-align: top;
    width: 100%;
}
button.sheet-link:hover {
    color: #069;
}
button[type=roll].sheet-link::before {
    font-family: "Arial", sans-serif;
    content: '';
}

/* Inputs */
.sheet-disabled {
    background: #F5F5F5;
    cursor: not-allowed;
}
.sheet-usrinput {
    margin: 0 !important;
    padding: 0;
    height: 1.25em !important;
    line-height: 1.25em !important;
    font-family: "Patrick Hand", sans-serif;
    font-size: 1.1em !important;
    background: none!important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
.sheet-usrnotes {
    font-family: "Patrick Hand", sans-serif;
    font-size: 1.1em;
    white-space: pre-line;
}
.sheet-impusrinput {
    margin: 0;
    padding: 0;
    font-family: "Patrick Hand", sans-serif;
    text-align: center;
    font-weight: bold;
    border-color: black;
}
input {
    height: 1.25em;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*input.sheet-value {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}*/
input.sheet-impvalue {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    border-color: black;
}
input[type="number"]:disabled::-webkit-inner-spin-button,
input[type="number"]:disabled::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type='number']:disabled {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
    text-align: center;
}

/* Hide checkbox */
input[type="checkbox"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake checkbox */
input[type="checkbox"] + span::before
{
    margin-right: 5px;
    border: 1px solid #4c4c4c;;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    background-color: rgba(255, 255, 255, 0.01);
    content: "";
    width: 1em;
    height: 1em;
    font-size: 1em;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + span::before
{
    content: "✔";
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
}


label.sheet-checkbox {
    display: inline;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
select {
    margin: 0 !important;
    height: 1.25em !important;
    line-height: 1.25em !important;
    font-size: 1em !important;
    padding: 0 0 1px!important;
    box-sizing: content-box!important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
span.sheet-input-unit{
    margin-left: -25px;
}
span.sheet-italic {
    font-style: italic;
}

/* Tables */
div.sheet-table {
    display: table;
    margin-bottom: 5px;
    width: 100%;
}
div.sheet-tr {
    display: table-row;
}
div.sheet-th {
    display: table-cell;
    text-align: center;
    padding: 0 1px 0;
    background: dimgray;
    color: lightgray;
    white-space: nowrap;
}
div.sheet-td {
    display: table-cell;
    text-align: center;
    padding: 1px 1px 0;
    white-space: nowrap;
}
table {
    margin-bottom: 5px;
}
th {
    text-align: center;
    padding: 0 1px 0;
    background: dimgray;
    color: lightgray;
    white-space: nowrap;
}
td {
    text-align: center;
    padding: 1px 1px 0;
    white-space: nowrap;
}
div.sheet-bottom-border {
    border-bottom: 1px solid black;
}

/* Onsceen Tips */
input.sheet-onscreen-tips-toggle:not(:checked) ~ div .sheet-safemsg,
input.sheet-onscreen-tips-toggle:not(:checked) ~ div .sheet-infomsg,
input.sheet-onscreen-tips-toggle:not(:checked) ~ div .sheet-noticemsg,
input.sheet-onscreen-tips-toggle:not(:checked) ~ div .sheet-warnmsg {
    display: none;
}

div.sheet-safemsg {
    border: 1px solid darkgreen;
    color: darkgreen;
    padding: 0 5px 0;
    background: #dff0d8;
    margin-bottom: 5px;
    border-radius: 5px;
}
div.sheet-infomsg {
    border: 1px solid darkblue;
    color: darkblue;
    padding: 0 5px 0;
    background: #d9edf7;
    margin-bottom: 5px;
    border-radius: 5px;
}
div.sheet-noticemsg {
    border: 1px solid darkgoldenrod;
    color: darkgoldenrod;
    padding: 0 5px 0;
    background: #fcf8e3;
    margin-bottom: 5px;
    border-radius: 5px;
}
div.sheet-warnmsg {
    border: 1px solid darkred;
    color: darkred;
    padding: 0 5px 0;
    background: #f2dede;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Sheet Styles */
input.sheet-default-style-toggle:not(:checked) ~ div .sheet-default-style,
input.sheet-classic-fantasy-style-toggle:not(:checked) ~ div .sheet-classic-fantasy-style,
input.sheet-luther-arkwright-style-toggle:not(:checked) ~ div .sheet-luther-arkwright-style,
input.sheet-m-space-style-toggle:not(:checked) ~ div .sheet-m-space-style,
input.sheet-odd-soot-style-toggle:not(:checked) ~ div .sheet-odd-soot-style {
    display: none;
}

input.sheet-default-style-toggle:checked ~ div .sheet-default-style,
input.sheet-classic-fantasy-style-toggle:checked ~ div .sheet-classic-fantasy-style,
input.sheet-luther-arkwright-style-toggle:checked ~ div .sheet-luther-arkwright-style,
input.sheet-m-space-style-toggle:checked ~ div .sheet-m-space-style,
input.sheet-odd-soot-style-toggle:checked ~ div .sheet-odd-soot-style {
    display: initial;
}

/* Mode Toggles */
input.sheet-config-toggle:not(:checked) ~ div .sheet-config,
input.sheet-config-toggle:not(:checked) ~ div.sheet-config {
    display: none;
}
input.sheet-config-toggle:checked ~ div .sheet-editplay,
input.sheet-config-toggle:checked ~ div.sheet-editplay {
    display: none;
}

input.sheet-play-toggle:not(:checked) ~ div .sheet-play,
input.sheet-edit-toggle:not(:checked) ~ div .sheet-edit,
input.sheet-play-toggle:not(:checked) ~ div.sheet-play,
input.sheet-edit-toggle:not(:checked) ~ div.sheet-edit {
    display: none;
}

input.sheet-edit-toggle:not(:checked) ~ div .repcontrol {
    display: none;
}

/* Type Toggles */
.sheet-typetoggle:not([value="battle_unit"]) ~ div.sheet-battle-unit,
.sheet-typetoggle:not([value="character"]) ~ div.sheet-character,
.sheet-typetoggle:not([value="ship"]) ~ div.sheet-ship,
.sheet-typetoggle:not([value="solar_system"]) ~ div.sheet-solar-system,
.sheet-typetoggle:not([value="vehicle"]) ~ div.sheet-vehicle {
    display: none;
}

/* Form Toggles */
input.sheet-spirit-toggle:checked ~ div .sheet-material,
input.sheet-spirit-toggle:not(:checked) ~ div .sheet-spirit {
    display: none;
}

/* Extended Conflict Toggle */
input.sheet-extended-conflict-toggle:not(:checked) ~ div .sheet-extended-conflict {
    display: none;
}

/* Simplified Combat Toggle*/
input.sheet-simplified-combat-toggle:checked ~ div .sheet-complex-combat {
    display: none;
}

/* ID Toggle */
input.sheet-id-toggle:not(:checked) ~ div div.sheet-id {
    display: none;
}

/* Details Toggle */
input[type="checkbox"].sheet-details + span::before {
    margin-left: 7px;
    margin-right: -4px;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Pictos';
    content: "E";
    color: lightgray;
    width: 1em;
    height: 1em;
    font-size: 1.2em;
    border: none;
}
input[type="checkbox"]:checked.sheet-details + span::before {
    color: black;
}
input[type="checkbox"].sheet-details:not(:checked) ~ div.sheet-details,
input[type="checkbox"].sheet-details:not(:checked) ~ div .sheet-details {
    display: none;
}

/* =Sheet Type Specific CSS= */
{% if battle_units %}{% include 'mythras/battle_unit.css' %}{% endif %}
{% include 'character/character.css' %}
{% if ships %}{% include 'mythras/ship.css' %}{% endif %}
{% if vehicles == 'mythras' %}{% include 'mythras/vehicle.css' %}{% endif %}
{% if vehicles == 'frostbyte' %}{% include 'frostbyte/vehicle.css' %}{% endif %}
{% if solar_systems %}{% include 'frostbyte/solar_system.css' %}{% endif %}

/* =Roll Templates= */
{% include 'roll_templates/default.css' %}
{% include 'roll_templates/effect.css' %}
{% include 'roll_templates/initiative.css' %}
{% include 'roll_templates/skill.css' %}
{% include 'roll_templates/weapon.css' %}