/* =Generic Styles reused over the sheet= */
/* Sheet Defaults*/
div.sheet-mythras-defaults {
    font-family: "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    font-family: Palatino, serif;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 5px;

}
h2 {
    font-size: 1.25em;
    font-family: Palatino, serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 1.25em;
    line-height: 1.25em;
}
h3 {
    font-size: 1.25em;
    font-family: Palatino, serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    height: 1.25em;
    line-height: 1.25em;
    text-decoration: underline;

}
h4 {
    font-size: 1em;
    font-family: Palatino, serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 1em;
    line-height: 1em;
}

/* Make the delete buttons appear above the detail toggles */
.repcontainer .itemcontrol {
    z-index: 9999;
}

/* Give repcontrol a height so it doesn't overflow in edit_mode */
div.repcontrol {
    display: block;
    height: 1.25em !important;
}

/* Prevent done button from overflowing */
button.recontrol_edit {
    height: 1.25em !important;
    display: inline-block;
}

/* Make repeating section inline-block for display modes */
fieldset.sheet-inlined~.repcontainer[data-groupname^="repeating_"] > .repitem {
    display: inline-block;
}

/* Layout */
div.sheet-sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

div.sheet-flex {
    display: flex;
}
div.sheet-flex-rev {
    display: flex;
    flex-direction: row-reverse;
}
div.sheet-space-evenly {
    display: flex;
    justify-content: space-evenly;
}
div.sheet-space-between {
    display: flex;
    justify-content: space-between;
}
div.sheet-vert-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.sheet-space-between-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.sheet-flex-centered {
    display: flex;
    align-items: center;
}

/* Row highlighting */
div.sheet-hl:hover {
    /*background: #F0F0F0;*/
    background: #fcf8e3;
}
.repitem:hover {
    /*background: #F0F0F0;*/
    background: #fcf8e3;
}


hr {
    margin: 5px 0;
}

/* Display Toggles */
input.sheet-toggle:not([value="1"]) + .sheet-toggle,
input[type="checkbox"].sheet-toggle:not(:checked) + .sheet-toggle {
    display: none;
}
input.sheet-wide-toggle:not([value="1"]) ~ .sheet-wide-toggle,
input[type="checkbox"].sheet-wide-toggle:not(:checked) ~ .sheet-wide-toggle {
    display: none;
}
input.sheet-deep-toggle:not([value="1"]) ~ div .sheet-deep-toggle,
input[type="checkbox"].sheet-deep-toggle:not(:checked) ~ div .sheet-deep-toggle {
    display: none;
}
input.sheet-set-toggle:not([value^="@{set_"]) + .sheet-toggle {
    display: none;
}
input.sheet-augment-toggle:not([value^="@{skill_"]) + div .sheet-augment-toggle {
    display: none;
}

div.sheet-half-col {
    width: 50%;
}
div.sheet-third-col {
    width: 33.33%;
}
div.sheet-twothird-col {
    width: 66.66%;
}
div.sheet-hcombo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.sheet-flex-col {
    display: flex;
    flex-direction: column;
}
.sheet-grow {
    flex-grow: 1;
}
.sheet-shrink {
    flex-shrink: 1;
}
.sheet-text-center {
    text-align: center;
    text-align-last:center;
}
.sheet-text-left {
    text-align: left !important;
}
.sheet-text-right {
    text-align: right !important
}
.sheet-bmargin {
    margin-bottom: 5px;
}
.sheet-rmargin {
    margin-right: 5px !important;
}
.sheet-lmargin {
    margin-left: 5px !important;
}
.sheet-lpad {
    padding-left: 5px !important;
}
.sheet-rpad {
    padding-right: 5px !important;
}
.sheet-bpad {
    padding-bottom: 5px !important;
}
.sheet-bold {
    font-weight: bold;
}
.sheet-lite {
    font-weight: normal;
}
.sheet-wrap {
    white-space: normal !important;
 }

.sheet-section {
    border: 1px solid black;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 2px 5px 2px;
    border-radius: 10px;
}
.sheet-hidden {
    display: none;
}
.sheet-invisible {
    visibility: hidden;
}
.sheet-number-width {
    width: 40px !important;
    flex-shrink: 0;
}
.sheet-number-width-sm {
    width: 25px !important;
    flex-shrink: 0;
}
.sheet-checkbox-width {
    width: 16px !important;
    flex-shrink: 0;
}
.sheet-button-width {
    width: 27px !important;
    flex-shrink: 0;
    box-sizing: border-box;
}
.sheet-full-width {
    width: 100% !important;
}
.sheet-auto-width {
    width: auto !important;
}
.sheet-help {
    cursor: help;
}

/* Section Accordion */
input[type="checkbox"].sheet-accordion
{
    opacity: 0;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}
h4.sheet-accordion {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-left: -100%;
    padding-left: 16px;
}
h2.sheet-accordion {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-left: -100%;
}

input[type="checkbox"].sheet-accordion + h4::after {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    content: " ►";
}

input[type="checkbox"].sheet-accordion + h2::after {
    margin-right: 5px;
    line-height: 1.25em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    content: "►";
    font-size: 1.5em;
}

input[type="checkbox"].sheet-accordion:checked + h4::after {
    content: " ▼";
}

input[type="checkbox"].sheet-accordion:checked + h2::after {
    content: "▼";
}

input[type="checkbox"].sheet-accordion:not(:checked) ~ div.sheet-accordion {
    display: none;
}


/* Font */
.sheet-pictos {
    font-family: 'Pictos';
}
.sheet-pictos-three {
    font-family: 'Pictos Three' !important;
}
.sheet-pictos-custom {
    font-family: 'Pictos Custom' !important;
}

/* Fieldset */
a.repcontrol_move {
    padding: 0 5px 0 !important;
    margin: 0!important;
    height: 1.25em;!important;
    font-size: 1em !important;
    line-height: 1.25em;
}

/* Buttons */
.ui-dialog .charsheet button {
    border-radius: 5px;
    box-sizing: border-box;
    height: 1.25em;
    overflow: hidden;
    line-height: 0;
    vertical-align: middle;
    font-size: 1em !important;
}
.ui-dialog .charsheet button[type=action] {
    border: solid 1px gray;
    background: linear-gradient(to bottom, whitesmoke 16%, gainsboro 79%);
    color: black;
    margin: 0 5px 0 0 !important;
    padding: 0 2px 0 !important;
}
.ui-dialog .charsheet button[type=action].sheet-action-btn:active {
    border: solid 1px black;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
}
.ui-dialog .charsheet button[type="roll"] {
    border: solid 1px gray;
    background: linear-gradient(to bottom, whitesmoke 16%, gainsboro 79%);
    color: black;
    padding: 0 2px 0 !important;
    margin: 0 !important;
}
.ui-dialog .charsheet button[type=roll].sheet-nodie::before {
    font-family: "Arial", sans-serif;
    content: '';
}
.ui-dialog .charsheet button[type="roll"].sheet-nodie:hover {
    border: solid 1px black;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
}
.ui-dialog .charsheet button[type=roll].sheet-d100::before {
    font-family: 'dicefontd10';
    font-size: 1.75em !important;
}
.ui-dialog .charsheet button[type="roll"].sheet-d100:hover {
    border: solid 1px black;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
}
.ui-dialog .charsheet button[type=roll].sheet-d6::before {
    font-family: 'dicefontd6';
    content: 'f';
    font-size: 1.25em !important;
}
.ui-dialog .charsheet button[type="roll"].sheet-d6:hover {
    border: solid 1px black;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
}
.ui-dialog .charsheet button[type=roll].sheet-effect::before {
    font-family: 'pictos';
    font-size: 1.25em;
    content: "e";
}
.ui-dialog .charsheet button[type="roll"].sheet-effect:hover {
    border: solid 1px black;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
}
.ui-dialog .charsheet button[type=roll].sheet-improve::before {
    font-family: 'pictos';
    font-size: 1.1em;
    content: "{";
}
.ui-dialog .charsheet button[type="roll"].sheet-improve:hover {
    border: solid 1px black;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
}
.ui-dialog .charsheet button[type=roll].sheet-waxorwane::before {
    font-family: 'pictos';
    font-size: 1.1em;
    content: "r";
}
.ui-dialog .charsheet button[type="roll"].sheet-waxorwane:hover {
    border: solid 1px black;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
}
.ui-dialog .charsheet button[type=roll].sheet-link {
    padding: 0!important;
    margin: 0!important;
    background: none!important;
    box-shadow: none!important;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
    text-shadow: none;
    line-height: inherit;
    height: inherit;
}
.ui-dialog .charsheet button[type=roll].sheet-link::before {
    font-family: "Arial", sans-serif;
    content: '';
}
button[type=roll].sheet-id {
    padding: 0!important;
    margin: 0!important;
    background: none!important;
    box-shadow: none!important;
    border: none!important;
    cursor: pointer;
    color: inherit;
    text-shadow: none;
    line-height: inherit;
    height: inherit;
    font-family: "Pictos";
    display: none;
    position: absolute;
    top: 0;
    right: 3px;
}
.ui-dialog .charsheet button[type=roll].sheet-id::before {
    font-family: "Arial", sans-serif;
    content: '';
}
.ui-dialog .charsheet button.sheet-link-label {
    font-weight: bold;
    vertical-align: top;
}
.ui-dialog .charsheet button.sheet-link-label-left::after {
    content: ':';
    text-decoration: none;
}
.ui-dialog .charsheet button.sheet-link:hover,
.ui-dialog .charsheet button.sheet-id:hover {
    color: #069;
}
div.sheet-hover-btn {
    position: relative;
}
div.sheet-hover-btn:hover button {
    display: inline;
}

/* Inputs */
.sheet-disabled {
    background: #F5F5F5;
    cursor: not-allowed;
}
.sheet-usrinput {
    margin: 0 !important;
    padding: 0;
    height: 1.25em !important;
    line-height: 1.25em !important;
    font-family: "Patrick Hand", sans-serif;
    font-size: 1.1em !important;
    background: none!important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
.sheet-usrnotes {
    font-family: "Patrick Hand", sans-serif;
    font-size: 1.1em;
    white-space: pre-line;
}
.sheet-impusrinput {
    margin: 0;
    padding: 0;
    font-family: "Patrick Hand", sans-serif;
    text-align: center;
    font-weight: bold;
    border-color: black;
}
input {
    height: 1.25em !important;
    line-height: 1.25em !important;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: center;
    -moz-appearance: none;
    box-sizing: border-box;
}
input:invalid {
    border: solid 1px red;
}
select:invalid {
    border: solid 1px red;
}
/*input.sheet-value {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}*/
input.sheet-impvalue {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    border-color: black;
}
input[type="number"]:disabled::-webkit-inner-spin-button,
input[type="number"]:disabled::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type='number']:disabled {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
    text-align: center;
}

/* Checkbtns */
button.sheet-checkbtn {
    border: solid 1px gray;
    background: linear-gradient(to bottom, whitesmoke 16%, gainsboro 79%);
    color: black;
    margin: 0 5px 0 0 !important;
    padding: 0 2px 0;
}
input.sheet-checkbtn:not([value="0"]) + button.sheet-checkbtn {
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
    border: solid 1px black;
}

.ui-dialog .charsheet button.sheet-inverted-checkbtn {
    border: solid 1px black;
    border-radius: 5px;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
    margin: 0 5px 0 0 !important;
    padding: 0 2px 0;
}
.charsheet input.sheet-checkbtn[value="0"]  + button.sheet-inverted-checkbtn,
.charsheet input.sheet-checkbtn[value=" "] + button.sheet-inverted-checkbtn {
    background: linear-gradient(to bottom, whitesmoke 16%, gainsboro 79%);
    color: black;
    border: solid 1px gray;
}

/* Checkboxes, checkicos and radios */
/* Hide the default checkbox and set predictable sizing*/
input[type="checkbox"],
input[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 1;
}

/* Stylized span to look like checkbox */
input[type="checkbox"] + span {
    border: solid 1px #a8a8a8;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: transparent;
    font-family: "Pictos";
    justify-content: center;
    align-items: center;
    font-size: 12px;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    width: 16px;
    height: 16px;
    box-sizing: border-box;
    margin: 0 0 0 -16px;
    padding: 0;
    position: absolute;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"]:checked + span {
    color: inherit;
}

/* Stylized span to look like radio  */
input[type="radio"] + span {
    border: solid 1px #a8a8a8;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: transparent;
    justify-content: center;
    align-items: center;
    font-family: "Pictos";

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    width: 14px;
    height: 14px;
    box-sizing: border-box;
    margin: 1px 1px 1px -15px;
    position: absolute;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
input[type="radio"]:checked + span {
    background-image: radial-gradient(black 0%, transparent 75%);
}

/* Override stylized span to be a checkico or radioico */
input[type="checkbox"] + span.sheet-checkico,
input[type="radio"] + span.sheet-radioico
{
    border: none;
    color: darkgray;
    font-size: 1em;
}
input[type="checkbox"]:checked + span.sheet-checkico,
input[type="radio"]:checked + span.sheet-radioico
{
    color: inherit;
    background-image: none;
}

/* Override stylized span to be a checkradio */
input[type="checkbox"] + span.sheet-checkradio
{
    border: solid 1px #a8a8a8;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: transparent;
    justify-content: center;
    align-items: center;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    width: 14px;
    height: 14px;
    box-sizing: border-box;
    margin: 1px 1px 1px -15px;
    position: absolute;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
input[type="checkbox"]:checked + span.sheet-checkradio
{
    background-image: radial-gradient(black 0%, transparent 75%);
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

select {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1.1em !important;
}
select.sheet-disabled {
    margin: 0 !important;
    padding: 0 !important;
    height: 1.25em !important;
    line-height: 1.25em !important;
    font-size: 1.1em !important;
}

span.sheet-input-unit{
    margin-left: -25px;
}
span.sheet-italic {
    font-style: italic;
}

/* Labels */
label {
    font-size: 1em !important;
    margin: 0 !important;
    padding: 0 !important;
    color: inherit;
    background: inherit;
    text-align: center;
    vertical-align: middle;
}
label.sheet-skill {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid black;
    font-weight: normal;
}
label.sheet-underlined {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: normal;
}
label.sheet-under {
    text-align: center;
    font-size: .85em;
}
label.sheet-left {
    display: inline;
    text-align: left;
    margin-right: 5px !important;
}
label.sheet-left::after {
    content: ':'
}
label.sheet-checkbox {
    display: inline;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: normal;
    cursor: pointer;
}
/* Add some space between the stylized span and the label span*/
label.sheet-checkbox span:nth-of-type(2) {
    margin-left: 5px;
}

/* Tables */
div.sheet-table {
    display: table;
    width: 100%;
}

div.sheet-tr,
div.sheet-table .repitem {
    display: table-row;
}
div.sheet-table .repcontainer {
    display: table-row-group;
}

/*div.sheet-th-tr {
    display: flex;
    align-items: center;
    color: lightgray;
    background: dimgray;
}*/
div.sheet-th {
    display:table-cell;
    text-align: center;
    padding: 1px;
    background: dimgray;
    color: lightgray;
    vertical-align: middle;
}
div.sheet-td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
    white-space: nowrap;
}
div.sheet-bottom-border {
    border-bottom: 1px solid black;
}


div.sheet-safemsg {
    border: 1px solid darkgreen;
    color: darkgreen;
    padding: 5px;
    background: #dff0d8;
    margin: 5px 0;
    border-radius: 5px;
}
div.sheet-infomsg {
    border: 1px solid darkblue;
    color: darkblue;
    padding: 5px;
    background: #d9edf7;
    margin: 5px 0;
    border-radius: 5px;
}
div.sheet-noticemsg {
    border: 1px solid darkgoldenrod;
    color: darkgoldenrod;
    padding: 5px;
    background: #fcf8e3;
    margin: 5px 0;
    border-radius: 5px;
}
div.sheet-warnmsg {
    border: 1px solid darkred;
    color: darkred;
    padding: 5px;
    background: #f2dede;
    margin: 5px 0;
    border-radius: 5px;
}

/* Edit Mode */
/* editinplay class excludes a repeating section from hiding controls in play mode */
input.sheet-edit-toggle:checked ~ div .sheet-play,
input.sheet-edit-toggle:not(:checked) ~ div .sheet-edit,
input.sheet-edit-toggle:not(:checked) ~ div fieldset:not(.sheet-editinplay) ~ .repcontrol {
    display: none;
}

/* Type Toggles */
.sheet-typetoggle:not([value="battle_unit"]) ~ div.sheet-battle-unit,
.sheet-typetoggle:not([value="character"]) ~ div.sheet-character,
.sheet-typetoggle:not([value="ship"]) ~ div.sheet-ship,
.sheet-typetoggle:not([value="star_system"]) ~ div.sheet-star-system,
.sheet-typetoggle:not([value="vehicle"]) ~ div.sheet-vehicle {
    display: none;
}

/* Firearm Traits Toggle*/
input.sheet-firearms-toggle:not(:checked) + div .sheet-firearm-trait {
    display: none;
}

/* =Sheet Type Specific CSS= */
{% if battle_units %}{% include 'mythras/battle_unit.css' %}{% endif %}
{% include 'character/character.css' %}
{% if ships %}{% include 'mythras/ship.css' %}{% endif %}
{% if vehicles == 'mythras' %}{% include 'mythras/vehicle.css' %}{% endif %}
{% if vehicles == 'frostbyte' %}{% include 'frostbyte/vehicle.css' %}{% endif %}
{% if star_systems %}{% include 'star_system/star_system.css' %}{% endif %}

/* =Roll Templates= */
{% include 'roll_templates/default.css' %}
{% include 'roll_templates/effect.css' %}
{% include 'roll_templates/hit_location.css' %}
{% include 'roll_templates/improvement.css' %}
{% include 'roll_templates/resolution_pool.css' %}
{% include 'roll_templates/skill.css' %}