<!-- Default Roll Template -->
<!-- {{'@{roll_display}&{template:default} {{name=@{name}}} {{roll=[[1d8]]}}'}} -->
<rolltemplate class="sheet-rolltemplate-default">
    <div class="sheet-border {{'{{#initstyle}}initiative{{/initstyle}}'}}">
        <div class="sheet-header {{'{{#initstyle}}initiative{{/initstyle}}'}}">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}</div>
        </div>
        {{'{{#allprops() character name notes initstyle}}'}}
        <div class="sheet-listitem">
            <div class="sheet-key">{{'{{key}}'}}</div>
            <div class="sheet-value">{{'{{value}}'}}</div>
        </div>
        {{'{{/allprops() character name notes initstyle}}'}}
        {{'{{#notes}}'}}
        <div class="sheet-listitem">{{'{{notes}}'}}</div>
        {{'{{/notes}}'}}
    </div>
</rolltemplate>