/* Default Roll Template Styles */
.sheet-rolltemplate-default table {
    width: 100%;
    border: 3px solid black;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    background: white;
}
.sheet-rolltemplate-default caption {
    background: black;
    color: whitesmoke;
    padding: 3px 3px 0;
}
.sheet-rolltemplate-default div.sheet-character {
    font-size: .75em;
}
.sheet-rolltemplate-default div.sheet-name {
    font-family: Palatino, serif;
    font-size: 1.25em;
    padding-top: 2px;
}
.sheet-rolltemplate-default tr {
    margin: 0;
    padding: 0;
}
.sheet-rolltemplate-default tr:nth-child(even) {
    background: linear-gradient(to right, gainsboro, white);
}
.sheet-rolltemplate-default td {
    padding: 3px 3px 0;
    line-height: 1em;
    vertical-align: middle;
}
.sheet-rolltemplate-default td.sheet-label {
    font-weight: bold;
    text-align: left;
}
.sheet-rolltemplate-default td.sheet-value {
    text-align: right;
}
.sheet-rolltemplate-default .inlinerollresult {
    display: inline-block;
    text-align: center;
    padding: 0px;
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-default .inlinerollresult.fullcrit {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-default .inlinerollresult.fullfail {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-default .inlinerollresult.importantroll {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}