/* Default Roll Template Styles */
.sheet-rolltemplate-default div.sheet-border {
    border: 2px solid black;
    background: white;
    font-family: 'Merriweather', serif;
    font-size: .9em;
}
.sheet-rolltemplate-default div.sheet-border.sheet-red {
    border: 2px solid firebrick;
}
.sheet-rolltemplate-default div.sheet-border.sheet-orange {
    border: 2px solid chocolate;
}
.sheet-rolltemplate-default div.sheet-border.sheet-yellow {
    border: 2px solid darkgoldenrod;
}
.sheet-rolltemplate-default div.sheet-border.sheet-green {
    border: 2px solid forestgreen;
}
.sheet-rolltemplate-default div.sheet-border.sheet-blue {
    border: 2px solid #5962A3;
}
.sheet-rolltemplate-default div.sheet-border.sheet-purple {
    border: 2px solid darkmagenta;
}
.sheet-rolltemplate-default div.sheet-border.sheet-gray {
    border: 2px solid dimgray;
}
.sheet-rolltemplate-default div.sheet-header {
    background: black;
    color: whitesmoke;
}
.sheet-rolltemplate-default div.sheet-header.sheet-red {
    background: firebrick;
}
.sheet-rolltemplate-default div.sheet-header.sheet-orange {
    background: chocolate;
}
.sheet-rolltemplate-default div.sheet-header.sheet-yellow {
    background: darkgoldenrod;
}
.sheet-rolltemplate-default div.sheet-header.sheet-green {
    background: forestgreen;
}
.sheet-rolltemplate-default div.sheet-header.sheet-blue {
    background: #5962A3;
}
.sheet-rolltemplate-default div.sheet-header.sheet-purple {
    background: darkmagenta;
}
.sheet-rolltemplate-default div.sheet-header.sheet-gray {
    background: dimgray;
}
.sheet-rolltemplate-default div.sheet-character {
    font-size: .9em;
    text-align: center;
}
.sheet-rolltemplate-default div.sheet-name {
    font-family: "Sorts Mill Goudy", serif;
    text-align: center;
    font-size: 1.25em;
}

.sheet-rolltemplate-default div.sheet-listitem {
    display: flex;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-default div.sheet-listitem:nth-child(odd) {
    background: linear-gradient(to right, gainsboro, white);
}
.sheet-rolltemplate-default div.sheet-key {
    font-weight: bold;
    text-align: left;
}
.sheet-rolltemplate-default div.sheet-value {
    text-align: right;
    flex-grow: 1;
}

.sheet-rolltemplate-default .inlinerollresult {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-default .inlinerollresult.fullcrit {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-default .inlinerollresult.fullfail {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-default .inlinerollresult.importantroll {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}