<!-- Default Roll Template -->
<!-- {{'@{roll_display}&{template:default} {{name=@{name}}} @{name_display} {{color=#}}{{roll=[[1d8]]}}'}} -->
<rolltemplate class="sheet-rolltemplate-default">
    <div class="sheet-border {{'{{#red}}red{{/red}}'}}{{'{{#orange}}orange{{/orange}}'}}{{'{{#yellow}}yellow{{/yellow}}'}}{{'{{#green}}green{{/green}}'}}{{'{{#blue}}blue{{/blue}}'}}{{'{{#purple}}purple{{/purple}}'}}{{'{{#gray}}gray{{/gray}}'}}">
        <div class="sheet-header {{'{{#red}}red{{/red}}'}}{{'{{#orange}}orange{{/orange}}'}}{{'{{#yellow}}yellow{{/yellow}}'}}{{'{{#green}}green{{/green}}'}}{{'{{#blue}}blue{{/blue}}'}}{{'{{#purple}}purple{{/purple}}'}}{{'{{#gray}}gray{{/gray}}'}}">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}</div>
        </div>
        {{'{{#allprops() character name notes red orange yellow green blue indigo purple gray}}'}}
        <div class="sheet-listitem">
            <div class="sheet-key">{{'{{key}}'}}:</div>
            <div class="sheet-value">{{'{{value}}'}}</div>
        </div>
        {{'{{/allprops() character name notes red orange yellow green blue indigo purple gray}}'}}
        {{'{{#notes}}'}}
        <div class="sheet-listitem">{{'{{notes}}'}}</div>
        {{'{{/notes}}'}}
    </div>
</rolltemplate>