/* Effect Roll Template Styles */
.sheet-rolltemplate-effect div.sheet-border {
    border: 2px solid #5962A3;
    background: white;
    font-size: 1em;
}
.sheet-rolltemplate-effect div.sheet-header {
    background: #5962A3;
    color: whitesmoke;
}
.sheet-rolltemplate-effect div.sheet-subheader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px 1px 0;
    background: dimgray;
    color: lightgray;
}
.sheet-rolltemplate-effect div.sheet-character {
    font-size: .9em;
    text-align: center;
}
.sheet-rolltemplate-effect div.sheet-name {
    font-family: Palatino, serif;
    text-align: center;
    font-size: 1.25em;
}
.sheet-rolltemplate-effect div.sheet-traits {
    font-style: italic;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-effect div.sheet-traits {
    font-style: italic;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-effect div.sheet-description {
    padding: 2px 1px 0;
}
.sheet-rolltemplate-effect .inlinerollresult  {
    display: inline-block;
    text-align: center;
    padding: 0px;
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect .inlinerollresult.fullcrit {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect .inlinerollresult.fullfail {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect .inlinerollresult.importantroll {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect a {
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em !important;
    border: solid 1px gray !important;
    background: linear-gradient(to bottom, whitesmoke 16%, gainsboro 79%);
    color: black !important;
    padding: 0 2px 0 !important;
    margin: 0 !important;
    text-shadow: none !important;
    box-shadow: none !important;
}
.sheet-rolltemplate-effect a:hover {
    border: solid 1px black !important;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke !important;
    text-shadow: none;
}