<!-- Default Roll Template -->
<!-- {{'@{roll_display}&{template:effect} {{name=@{name}}} @{name_display} {{intensity=@{intensity}}} {{magnitude=@{magnitude}}} {{traits=@{traits}}} @{shaping_traits} {{description=@{description}}} {{page=@{page}}}'}}-->
<rolltemplate class="sheet-rolltemplate-effect">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            {{'{{^description}}'}}
            <div class="sheet-name">{{'{{name}}'}}</div>
            {{'{{/description}}'}}
            {{'{{#description}}'}}
            <div class="sheet-name">[{{'{{name}}'}}](~{{'{{character}}'}}|{{'{{effectid}}'}}_description)</div>
            {{'{{/description}}'}}
        </div>
        {{'{{#rolled_skill_name}}'}}
        <div class="sheet-subheader">
            <div>[{{'{{rolled_skill_name}}'}} {{'{{rolled_skill_total}}'}}%](~{{'{{character}}'}}|{{'{{rolled_skill_macro}}'}})</div>
            {{'{{#other_skill_name}}'}}
            <div class="sheet-lmargin sheet-text-right">{{'{{other_skill_name}}'}} {{'{{other_skill_total}}'}}%</div>
            {{'{{/other_skill_name}}'}}
        </div>
        {{'{{/rolled_skill_name}}'}}
        {{'{{#armor_penalty}}'}}
        {{'{{#^rollTotal() armor_penalty 0}}'}}
        <div class="sheet-subheader">
            <div><span data-i18n="armor_penalty">Armor Penalty</span>: {{'{{armor_penalty}}'}}</div>
        </div>
        {{'{{/^rollTotal() armor_penalty 0}}'}}
        {{'{{/armor_penalty}}'}}
        {{'{{#traits}}'}}
        <div class="sheet-traits">{{'{{traits}}'}}</div>
        {{'{{/traits}}'}}
        {{'{{#allprops() character name rolled_skill_name rolled_skill_total rolled_skill_macro other_skill_name other_skill_total armor_penalty effectid traits summary description buttons special_effects_button hit_location_buttons generic_button initiative_button skill_button damage_button}}'}}
        <div class="sheet-traits">{{'{{key}}'}}: {{'{{value}}'}}</div>
        {{'{{/allprops() character name rolled_skill_name rolled_skill_total rolled_skill_macro other_skill_name other_skill_total armor_penalty effectid traits summary description buttons special_effects_button hit_location_buttons generic_button initiative_button skill_button damage_button}}'}}
        {{'{{#summary}}'}}
        <div class="sheet-summary">{{'{{summary}}'}}</div>
        {{'{{/summary}}'}}

        {{'{{#buttons}}'}}
        {{'{{#special_effects_button}}'}}
        <div class="sheet-listitem">
            <div class="sheet-key"><span data-i18n-title="special_effects" data-i18n="special_effects">Special Effects</span>:</div>
            <div class="sheet-value">[Choose](~{{'{{character}}'}}|{{'{{effectid}}'}}_special_effects)</div>
        </div>
        {{'{{/special_effects_button}}'}}
        {{'{{#hit_location_buttons}}'}}
        <div class="sheet-listitem">
            <div class="sheet-key"><span data-i18n="hit_location">Hit Location</span>:</div>
            <div class="sheet-value">[Low](~target|hit_location_low) [Standard](~target|hit_location) [High](~target|hit_location_high)</div>
        </div>
        {{'{{/hit_location_buttons}}'}}
        <div class="sheet-listitem">
            <div class="sheet-key"><span data-i18n="roll">Roll</span>:</div>
            <div class="sheet-value">{{'{{#generic_button}}'}}[Generic](~{{'{{character}}'}}|{{'{{effectid}}'}}_generic){{'{{/generic_button}}'}} {{'{{#initiative_button}}'}}[Initiative](~{{'{{character}}'}}|{{'{{effectid}}'}}_initiative){{'{{/initiative_button}}'}} {{'{{#skill_button}}'}}[Skill](~{{'{{character}}'}}|{{'{{effectid}}'}}_skill){{'{{/skill_button}}'}} {{'{{#damage_button}}'}}[Damage](~{{'{{character}}'}}|{{'{{effectid}}'}}_damage){{'{{/damage_button}}'}}</div>
        </div>
        {{'{{/buttons}}'}}
    </div>
</rolltemplate>