/* Effect Roll Template Styles */
.sheet-rolltemplate-effect div.sheet-border {
    border: 2px solid #5962A3;
    background: white;
    font-size: .9em;
    font-family: 'Merriweather', serif;
}
.sheet-rolltemplate-effect div.sheet-header {
    background: #5962A3;
    color: whitesmoke;
}
.sheet-rolltemplate-effect div.sheet-subheader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px 1px 0;
    background: dimgray;
    color: lightgray;
}
.sheet-rolltemplate-effect div.sheet-character {
    font-size: .9em;
    text-align: center;
}
.sheet-rolltemplate-effect div.sheet-name {
    font-family: "Sorts Mill Goudy", serif;
    text-align: center;
    font-size: 1.25em;
}
.sheet-rolltemplate-effect div.sheet-traits {
    font-style: italic;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-effect div.sheet-traits {
    font-style: italic;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-effect div.sheet-summary {
    padding: 2px 1px 0;
}

.sheet-rolltemplate-effect div.sheet-listitem {
    display: flex;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-effect div.sheet-listitem:nth-child(odd) {
    background: gainsboro;
}
.sheet-rolltemplate-effect div.sheet-key {
    font-weight: bold;
    text-align: left;
}
.sheet-rolltemplate-effect div.sheet-value {
    text-align: right;
    flex-grow: 1;
}

.sheet-rolltemplate-effect .inlinerollresult  {
    display: inline-block;
    text-align: center;
    padding: 0px;
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
    font-size: .95em;
}
.sheet-rolltemplate-effect .inlinerollresult.fullcrit {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect .inlinerollresult.fullfail {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect .inlinerollresult.importantroll {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect a {
    padding: 0!important;
    margin: 0!important;
    background: none!important;
    box-shadow: none!important;
    border: none !important;
    cursor: pointer;
    text-decoration: underline;
    color: inherit !important;
    text-shadow: none;
    line-height: inherit;
    height: inherit;
}