<!-- Default Roll Template -->
<!-- {{'@{roll_display}&{template:effect} {{name=@{name}}} @{name_display} {{intensity=@{intensity}}} {{magnitude=@{magnitude}}} {{traits=@{traits}}} @{shaping_traits} {{description=@{description}}} {{page=@{page}}}'}}-->
<rolltemplate class="sheet-rolltemplate-effect">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}</div>
        </div>
        {{'{{#skill1name}}'}}
        <div class="sheet-subheader">
            <div>[{{'{{skill1name}}'}} {{'{{skill1total}}'}}%](~{{'{{skill1roll}}'}})</div>
            {{'{{#skill2name}}'}}
            <div class="sheet-lmargin sheet-text-right">{{'{{skill2name}}'}} {{'{{skill2total}}'}}%</div>
            {{'{{/skill2name}}'}}
        </div>
        {{'{{/skill1name}}'}}
        {{'{{#armor_penalty}}'}}
        {{'{{#^rollTotal() armor_penalty 0}}'}}
        <div class="sheet-subheader">
            <div><span data-i18n="armor_penalty">Armor Penalty</span>: {{'{{armor_penalty}}'}}</div>
        </div>
        {{'{{/^rollTotal() armor_penalty 0}}'}}
        {{'{{/armor_penalty}}'}}
        {{'{{#traits}}'}}
        <div class="sheet-traits">{{'{{traits}}'}}</div>
        {{'{{/traits}}'}}
        {{'{{#allprops() character name skill1name skill1total skill1roll skill2name skill2total armor_penalty traits description}}'}}
        <div class="sheet-traits">{{'{{key}}'}}: {{'{{value}}'}}</div>
        {{'{{/allprops() character name skill1name skill1total skill1roll skill2name skill2total armor_penalty traits description}}'}}
        {{'{{#description}}'}}
        <div class="sheet-description">{{'{{description}}'}}</div>
        {{'{{/description}}'}}
    </div>
</rolltemplate>