/* Default Roll Template Styles */
.sheet-rolltemplate-improvement div.sheet-border {
    border: 2px solid darkmagenta;
    background: white;
    font-family: 'Merriweather', serif;
    font-size: .9em;
}
.sheet-rolltemplate-improvement div.sheet-header {
    background: darkmagenta;
    color: whitesmoke;
}
.sheet-rolltemplate-improvement div.sheet-character {
    font-size: .9em;
    text-align: center;
}
.sheet-rolltemplate-improvement div.sheet-name {
    font-family: "Sorts Mill Goudy", serif;
    text-align: center;
    font-size: 1.25em;
}

.sheet-rolltemplate-improvement div.sheet-listitem {
    display: flex;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-improvement div.sheet-listitem:nth-child(odd) {
    background: linear-gradient(to right, gainsboro, white);
}
.sheet-rolltemplate-improvement div.sheet-key {
    font-weight: bold;
    text-align: left;
}
.sheet-rolltemplate-improvement div.sheet-value {
    text-align: right;
    flex-grow: 1;
}

.sheet-rolltemplate-improvement .inlinerollresult {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-improvement .inlinerollresult.fullcrit {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-improvement .inlinerollresult.fullfail {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-improvement .inlinerollresult.importantroll {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}