/* Hit Table Roll Template Styles */
.sheet-rolltemplate-resolution_pool div.sheet-border {
    border: 2px solid chocolate;
    background: white;
    font-family: 'Merriweather', serif;
    font-size: .9em;
}
.sheet-rolltemplate-resolution_pool div.sheet-header {
    background: chocolate;
    color: whitesmoke;
}
.sheet-rolltemplate-resolution_pool div.sheet-subheader {
    background: dimgray;
    color: whitesmoke;
}
.sheet-rolltemplate-resolution_pool div.sheet-character {
    font-size: .9em;
    text-align: center;
}
.sheet-rolltemplate-resolution_pool div.sheet-name {
    font-family: "Sorts Mill Goudy", serif;
    text-align: center;
    font-size: 1.25em;
}

/* Tables */
.sheet-rolltemplate-resolution_pool div.sheet-table {
    display: table;
    width: 100%;
}
.sheet-rolltemplate-resolution_pool div.sheet-tr {
    display: table-row;
}
.sheet-rolltemplate-resolution_pool div.sheet-tr:nth-child(odd) {
    background: linear-gradient(to right, gainsboro, white);
}
.sheet-rolltemplate-resolution_pool div.sheet-th {
    display:table-cell;
    text-align: center;
    padding: 1px;
    background: dimgray;
    color: lightgray;
    vertical-align: middle;
    font-weight: bold;
}
.sheet-rolltemplate-resolution_pool .sheet-help {
    cursor: help;
}
.sheet-rolltemplate-resolution_pool .sheet-pictos {
    font-family: 'Pictos' !important;
}
.sheet-rolltemplate-resolution_pool .sheet-pictos-three {
    font-family: 'Pictos Three' !important;
}
.sheet-rolltemplate-resolution_pool div.sheet-td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
    white-space: nowrap;
}

.sheet-rolltemplate-resolution_pool div.sheet-listitem {
    display: flex;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-resolution_pool div.sheet-listitem:nth-child(odd) {
    background: linear-gradient(to right, gainsboro, white);
}
.sheet-rolltemplate-resolution_pool div.sheet-key {
    font-weight: bold;
    text-align: left;
}
.sheet-rolltemplate-resolution_pool div.sheet-value {
    text-align: right;
    flex-grow: 1;
}

.sheet-rolltemplate-resolution_pool .inlinerollresult {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-resolution_pool .inlinerollresult.fullcrit {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-resolution_pool .inlinerollresult.fullfail {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-resolution_pool .inlinerollresult.importantroll {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}