/* SE Menu Roll Template Styles */
.sheet-rolltemplate-se-menu {
    background: white;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    line-height: 18px;
    color: black;
}
.sheet-rolltemplate-darkmode {
    background: #1f1f1f;
    color: whitesmoke;
}
.sheet-rolltemplate-se-menu div.sheet-border {
    border: 2px solid black;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    line-height: 18px;
    border-radius: 5px;
}
.sheet-rolltemplate-darkmode div.sheet-border {
    border: 2px solid gray;
}
.sheet-rolltemplate-se-menu div.sheet-header {
    background: black;
    color: whitesmoke;
}
.sheet-rolltemplate-se-menu div.sheet-character {
    font-size: 11px;
    text-align: center;
}
.sheet-rolltemplate-se-menu div.sheet-name {
    font-family: "Sorts Mill Goudy", serif;
    text-align: center;
    font-size: 15px;
}

.sheet-rolltemplate-se-menu div.sheet-table {
    display: table;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}
.sheet-rolltemplate-se-menu div.sheet-tr {
    display: table-row;
}
.sheet-rolltemplate-se-menu  div.sheet-tr:nth-child(odd) {
    background: gainsboro;
}
.sheet-rolltemplate-darkmode  div.sheet-tr:nth-child(odd) {
    background: #333333;
}
.sheet-rolltemplate-se-menu div.sheet-th {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 1px 2px;
    white-space: nowrap;
    background: dimgray;
    color: whitesmoke;
}
.sheet-rolltemplate-se-menu div.sheet-td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 1px 2px;
    white-space: nowrap;
}

.sheet-rolltemplate-se-menu a {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    color: black !important;
    text-decoration: none !important;
}
.sheet-rolltemplate-se-menu a:hover {
    text-decoration: underline !important;
}
.sheet-rolltemplate-darkmode a {
    color: whitesmoke !important;
}