<!-- SE Roll Template -->
<!-- {{'@{roll_display}&{template:se} {{character=@{character_name}}} {{name=@{name}}} {{character=@{character_name}}} {{se=<se_name>}} {{traits=<traits>}} {{conditions=<conditions>}}'}} -->
<rolltemplate class="sheet-rolltemplate-se">
    <div class="sheet-border">
        <div class="sheet-header">
            <div class="sheet-character">{{'{{character}}'}}</div>
            <div class="sheet-name">{{'{{name}}'}}%</div>
        </div>
    </div>

    <div class="sheet-table">
        <div class="sheet-tr">
            <div class="sheet-th" data-i18n="special_effect">Special Effect</div>
            <div class="sheet-th" data-i18n="traits">Traits</div>
            <div class="sheet-th" data-i18n="Conditions">Conditions</div>
        </div>
        <div class="sheet-tr">
            <div class="sheet-td">{{'{{se}}'}}</div>
            <div class="sheet-td">{{'{{traits}}'}}</div>
            <div class="sheet-td">{{'{{conditions}}'}}</div>
        </div>
    </div>
</rolltemplate>


