/* Skill Roll Template Styles */
.sheet-rolltemplate-skill div.sheet-border {
    border: 2px solid dimgray;
    background: white;
    font-family: 'Merriweather', serif;
    font-size: .9em;
}
.sheet-rolltemplate-skill div.sheet-header {
    background: dimgray;
    color: whitesmoke;
}
.sheet-rolltemplate-skill div.sheet-character {
    font-size: .9em;
    text-align: center;
}
.sheet-rolltemplate-skill div.sheet-name {
    font-family: "Sorts Mill Goudy", serif;
    text-align: center;
    font-size: 1.25em;
}

.sheet-rolltemplate-skill div.sheet-hard-notice {
    padding: 2px 1px 0;
    background: yellow;
    color: black;
}
.sheet-rolltemplate-skill div.sheet-formidable-notice {
    padding: 2px 1px 0;
    background: orange;
    color: black;
}
.sheet-rolltemplate-skill div.sheet-herculean-notice {
    padding: 2px 1px 0;
    background: red;
    color: black;
}
.sheet-rolltemplate-skill div.sheet-hopeless-notice {
    padding: 2px 1px 0;
    background: black;
    color: lightgray;
}
.sheet-rolltemplate-skill span.sheet-result {
    font-family: "Pictos";
    cursor: help;
}

.sheet-rolltemplate-skill div.sheet-listitem {
    display: flex;
    padding: 2px 1px 0;
}
.sheet-rolltemplate-skill div.sheet-listitem:nth-child(odd) {
    background: linear-gradient(to right, gainsboro, white);
}
.sheet-rolltemplate-skill div.sheet-very-easy {
    display: flex;
    padding: 2px 1px 0;
    background: #DFF0D8;
}
.sheet-rolltemplate-skill div.sheet-easy {
    display: flex;
    padding: 2px 1px 0;
    background: #D9EDF7;
}
.sheet-rolltemplate-skill div.sheet-standard {
    display: flex;
    padding: 2px 1px 0;
    background: gainsboro;
}
.sheet-rolltemplate-skill div.sheet-hard {
    display: flex;
    padding: 2px 1px 0;
    background: #fcf8e3;
}
.sheet-rolltemplate-skill div.sheet-formidable {
    display: flex;
    padding: 2px 1px 0;
    background: #FFEBCC;
}
.sheet-rolltemplate-skill div.sheet-herculean {
    display: flex;
    padding: 2px 1px 0;
    background: #f2dede;
}

.sheet-rolltemplate-skill div.sheet-key {
    font-weight: bold;
    text-align: left;
}
.sheet-rolltemplate-skill div.sheet-value {
    text-align: right;
    flex-grow: 1;
}

.sheet-rolltemplate-skill .inlinerollresult {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
    font-size: .95em;
}
.sheet-rolltemplate-skill .inlinerollresult.fullcrit {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-skill .inlinerollresult.fullfail {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-skill .inlinerollresult.importantroll {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-skill a {
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em !important;
    border: solid 1px gray !important;
    background: linear-gradient(to bottom, whitesmoke 16%, gainsboro 79%);
    color: black !important;
    padding: 0 2px 0 !important;
    margin: 0 !important;
    text-shadow: none !important;
    box-shadow: none !important;
}
.sheet-rolltemplate-skill a:hover {
    border: solid 1px black !important;
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke !important;
    text-shadow: none;
}