/* Effect Roll Template Styles */
.sheet-rolltemplate-effect div.sheet-border {
    border: 3px solid #5962A3;
    background: white;
}
.sheet-rolltemplate-effect div.sheet-header {
    background: #5962A3;
    color: whitesmoke;
    padding: 0 3px 0;
}
.sheet-rolltemplate-effect div.sheet-subheader {
    background: dimgray;
    color: lightgray;
    padding: 2px 3px 0;
    margin-bottom: 2px;
}
.sheet-rolltemplate-effect div.sheet-rmargin {
    margin-right: 5px;
}
.sheet-rolltemplate-effect div.sheet-character {
    font-size: .75em;
    margin: 0;
}
.sheet-rolltemplate-effect div.sheet-name {
    font-family: Palatino, serif;
    font-size: 1.25em;
    margin: 0;
}
.sheet-rolltemplate-effect div.sheet-trait {
    font-style: italic;
    padding: 0 3px 0;
}
.sheet-rolltemplate-effect div.sheet-flex {
    display: flex;
}
.sheet-rolltemplate-effect div.sheet-grow {
    flex-grow: 1;
}
.sheet-rolltemplate-effect div.sheet-label {
    font-weight: bold;
    text-align: left;
}
.sheet-rolltemplate-effect div.sheet-value {
    text-align: right;
}
.sheet-rolltemplate-effect div.sheet-altback {
    padding: 2px 3px 0;
}
.sheet-rolltemplate-effect div.sheet-altback:nth-child(even) {
    background: linear-gradient(to right, gainsboro, white);
}


/*
.sheet-rolltemplate-effect table {
    width: 100%;
    border: 3px solid navy;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    background: white;
}
.sheet-rolltemplate-effect caption {
    background: navy;
    color: lightgray;
    padding: 3px 3px 0;
}

.sheet-rolltemplate-effect tr {
    margin: 0;
    padding: 0;
}
.sheet-rolltemplate-effect tr:nth-child(even) {
    background: linear-gradient(to right, gainsboro, white);
}
.sheet-rolltemplate-effect td {
    padding: 3px 3px 0;
    line-height: 1em;
}
.sheet-rolltemplate-effect td.sheet-label {
    font-weight: bold;
    text-align: left;
}
.sheet-rolltemplate-effect td.sheet-traits {
    font-style: italic;
    text-align: left;
}
.sheet-rolltemplate-effect td.sheet-value {
    text-align: right;
}
*/
.sheet-rolltemplate-effect .inlinerollresult  {
    display: inline-block;
    text-align: center;
    padding: 0px;
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect .inlinerollresult.fullcrit {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect .inlinerollresult.fullfail {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}
.sheet-rolltemplate-effect .inlinerollresult.importantroll {
    border: none;
    color: inherit;
    background: inherit;
    font-weight: inherit;
}