div.sheet-character {
    min-width: 834px;
}

/* Character Header Styles */
div.sheet-info {
    display: inline-block;
    width: 673px;
    margin-right: 5px;
}
div.sheet-info-box {
    display: inline-block;
    flex: 1 1 auto;
    padding: 0 5px 0 0;
}
div.sheet-info-type {
    width: 100px;
}
div.sheet-info-homeland {
    width: 100px;
}
div.sheet-info-name {
    width: 125px;
    flex-grow: 3;
}
div.sheet-info-form {
    width: 50px;
}
div.sheet-info-species {
    width: 100px;
}
div.sheet-info-culture {
    width: 100px;
}
div.sheet-info-career {
    width: 100px;
}
div.sheet-info-social-class {
    width: 100px;
}
div.sheet-info-age{
    width: 25px;
}
div.sheet-info-gender{
    width: 50px;
}
div.sheet-info-frame{
    width: 50px;
}
div.sheet-info-weight{
    width: 50px;
}
div.sheet-info-height{
    width: 50px;
}
div.sheet-info-rank {
    width: 30px;
}
input.sheet-rank-toggle:not(:checked) + div.sheet-info-rank {
    display: none;
}
div.sheet-info-the-soot {
    width: 40px;
}
div.sheet-info-xp {
    width: 40px;
}

div.sheet-logo {
    display: flex;
    flex-direction: column;
    width: 175px;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* Spirit Toggles */
input.sheet-spirit-toggle:checked + div .sheet-corporeal,
input.sheet-spirit-toggle:not(:checked) + div .sheet-spirit {
    display: none;
}

/* Extended Conflict Toggle */
input.sheet-extended-conflict-toggle:not(:checked) ~ div .sheet-extended-conflict {
    display: none;
}

/* Simplified Combat Toggle*/
input.sheet-simplified-combat-toggle:checked + div.sheet-complex-combat {
    display: none;
}

/* Character Tabs */
div.sheet-character-tab-core,
div.sheet-character-tab-abilities,
div.sheet-character-tab-equipment,
div.sheet-character-tab-background,
div.sheet-character-tab-notes,
div.sheet-character-tab-compact,
div.sheet-character-tab-import {
    display: none;
}

input.sheet-character-tab[value="core"] ~ div.sheet-character-tab-core,
input.sheet-character-tab[value="abilities"] ~ div.sheet-character-tab-abilities,
input.sheet-character-tab[value="equipment"] ~ div.sheet-character-tab-equipment,
input.sheet-character-tab[value="background"] ~ div.sheet-character-tab-background,
input.sheet-character-tab[value="notes"] ~ div.sheet-character-tab-notes,
input.sheet-character-tab[value="compact"] ~ div.sheet-character-tab-compact,
input.sheet-character-tab[value="import"] ~ div.sheet-character-tab-import,
input.sheet-character-tab[value="all"] ~ div.sheet-character-tab-core,
input.sheet-character-tab[value="all"] ~ div.sheet-character-tab-abilities,
input.sheet-character-tab[value="all"] ~ div.sheet-character-tab-equipment,
input.sheet-character-tab[value="all"] ~ div.sheet-character-tab-background,
input.sheet-character-tab[value="all"] ~ div.sheet-character-tab-notes {
    display: block;
}

input.sheet-character-tab[value="all"] + div.sheet-character-tabs button.sheet-character-tab-all,
input.sheet-character-tab[value="core"] + div.sheet-character-tabs button.sheet-character-tab-core,
input.sheet-character-tab[value="abilities"] + div.sheet-character-tabs button.sheet-character-tab-abilities,
input.sheet-character-tab[value="equipment"] + div.sheet-character-tabs button.sheet-character-tab-equipment,
input.sheet-character-tab[value="background"] + div.sheet-character-tabs button.sheet-character-tab-background,
input.sheet-character-tab[value="notes"] + div.sheet-character-tabs button.sheet-character-tab-notes,
input.sheet-character-tab[value="compact"] + div.sheet-character-tabs button.sheet-character-tab-compact,
input.sheet-character-tab[value="import"] + div.sheet-character-tabs button.sheet-character-tab-import {
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
    border: solid 1px black;
}

/* Core Tab */
/* Characteristics */
div.sheet-char-label {
    background: black;
    color: lightgray;
    width: 100%;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    text-align: left;
}

/* Attributes */
.sheet-attr-calc-width {
    width: 100px;
}

/* Traits */
.sheet-trait-field {
    width: 150px;
}

/* Strangeness Toggle */
input.sheet-strangeness-toggle:not(:checked) + div.sheet-strangeness {
    display: none;
}

/* Tenacity Toggle */
input.sheet-tenacity-toggle:not(:checked) + div.sheet-tenacity {
    display: none;
}

/* Binding Toggle */
input.sheet-binding-toggle:not([value="binding"]) + .sheet-toggle {
    display: none;
}

/* Health Section */
/* Hit Location select */
select.sheet-hit-location {
    width: 120px;
}

/* Wounds */
textarea.sheet-hit-locations-note {
    height: 195px;
    width: 100%;
    margin-bottom: 5px;
}
textarea.sheet-hit-locations-note-7 {
    height: 75px;
    width: 100%;
    margin-bottom: 5px;
}
textarea.sheet-hit-locations-note-8 {
    height: 55px;
    width: 100%;
    margin-bottom: 5px;
}
textarea.sheet-hit-locations-note-9 {
    height: 35px;
    width: 100%;
    margin-bottom: 5px;
}

/* Conflict Mode */
div.sheet-conflict-mode-combat,
div.sheet-conflict-mode-extended-conflict,
div.sheet-conflict-mode-spirit-combat,
div.sheet-conflict-mode-social-conflict {
    display: none;
}

input.sheet-conflict-mode[value="combat"] ~ div.sheet-conflict-mode-combat,
input.sheet-conflict-mode[value="extended_conflict"] ~ div.sheet-conflict-mode-extended-conflict,
input.sheet-conflict-mode[value="spirit_combat"] ~ div.sheet-conflict-mode-spirit-combat,
input.sheet-conflict-mode[value="social_conflict"] ~ div.sheet-conflict-mode-social-conflict {
    display: block;
}

input.sheet-conflict-mode:not([value="social_conflict"]) ~ div .sheet-social-conflict-toggle {
    display: none;
}

input.sheet-conflict-mode[value="none"] + div.sheet-conflict-mode button.sheet-conflict-mode-none,
input.sheet-conflict-mode[value="combat"] + div.sheet-conflict-mode button.sheet-conflict-mode-combat,
input.sheet-conflict-mode[value="extended_conflict"] + div.sheet-conflict-mode button.sheet-conflict-mode-extended-conflict,
input.sheet-conflict-mode[value="spirit_combat"] + div.sheet-conflict-mode button.sheet-conflict-mode-spirit-combat,
input.sheet-conflict-mode[value="social_conflict"] + div.sheet-conflict-mode button.sheet-conflict-mode-social-conflict {
    background: linear-gradient(to bottom, gray 16%, dimgray 79%);
    color: whitesmoke;
    border: solid 1px black;
}

/* Skills */
div.sheet-skill-base {
    width: 94px;
    flex-shrink: 0;
}
textarea.sheet-skillnotes {
    font-family: "Patrick Hand", sans-serif;
    height: 3em;
    line-height: 1em;
    font-size: 1.1em;
}
span.sheet-skillnotes {
    font-family: "Patrick Hand", sans-serif;
    line-height: 1em;
    white-space: pre-line;
    font-size: 1.1em;
}
.sheet-passiontype {
    width: 105px;
}

/* Passions */
input.sheet-dependencies-toggle:not(:checked) ~ div .sheet-dependencies-toggle,
input.sheet-corruptions-toggle:not(:checked) ~ div .sheet-corruptions-toggle,
input.sheet-peculiarities-toggle:not(:checked) ~ div .sheet-peculiarities-toggle {
    display: none;
}

/* Abilities Tab */
div.sheet-ability-name {
    width: 168px;
    flex-shrink: 0;
    padding: 1px 1px 0;
}
div.sheet-ability-type {
    width: 125px;
    flex-shrink: 0;
    padding: 1px 1px 0;
}
div.sheet-ability-skill {
    width: 125px;
    flex-shrink: 0;
    padding: 1px 1px 0;
}
div.sheet-ability-skillid {
    width: 150px;
    flex-shrink: 0;
    padding: 1px 1px 0;
}

select.sheet-shaping-trait {
    width: 100px;
}

/* Equipment Tab*/
div.sheet-equipment-location {
    width: 80px;
    padding: 1px 1px 0;
    text-align: center;
    flex-shrink: 0;
}

/* Armor */
.sheet-armor-field {
    width: 130px;
}

/* Weapons */
div.sheet-weapon-name {
    width: 140px;
    padding: 1px 1px 0;
    text-align: center;
    flex-shrink: 0;
}

.sheet-weapon-damage {
    width: 64px;
    padding: 1px 1px 0;
    text-align: center;
    flex-shrink: 0;
}

.sheet-weapon-size {
    width: 38px;
    padding: 1px 1px 0;
    text-align: center;
    flex-shrink: 0;
}

.sheet-weapon-reach {
    width: 72px;
    padding: 1px 1px 0;
    text-align: center;
    flex-shrink: 0;
}
div.sheet-weapon-hp {
    width: 55px;
    padding: 1px 1px 0;
    text-align: center;
    flex-shrink: 0;
}

/* Gear */
.sheet-gear-note {
    height: 4em;
}

/* Background Tab*/
textarea.sheet-background-notes {
    width: 100%;
    height: 7.5em;
}

/* Notes Tab*/
textarea.sheet-character-notes {
    width: 100%;
    height: 30em;
}

/* Compact */

/* Import */