<div class="sheet-character">
    <!-- Compact Toogle -->
    <input class="sheet-hidden sheet-compact" type="checkbox" name='attr_compact' value="1">

    <!-- Character Sheet Tabs -->
    <input type='hidden' class='sheet-character-tab' name='attr_character_tab' value='all'/>

    {% include 'character/tabs/core.html' %}

    <div class='sheet-character-tab-abilities'>
        {% include 'character/tabs/abilities.html' %}
    </div>

    <div class='sheet-character-tab-equipment'>
        <div class="sheet-major">
            {% include 'character/tabs/equipment.html' %}
        </div>
    </div>

    <div class='sheet-character-tab-background'>
        <div class="sheet-major">
            {% include 'character/tabs/background.html' %}
        </div>
    </div>

    <div class='sheet-character-tab-notes'>
        {% include 'character/tabs/notes.html' %}
    </div>

    <div class='sheet-character-tab-import'>
        {% include 'character/tabs/import.html' %}
    </div>
</div>