/* Hit Location select */
select.sheet-hit-location {
    width: 120px;
}

/* Block checkbox */
input[type="checkbox"].sheet-block + span::before {
    margin-right: -2px;
    line-height: 1em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Pictos Three';
    content: "b";
    color: lightgray;
    width: 1em;
    height: 1em;
    font-size: 1.2em;
    border: none;
}

input[type="checkbox"]:checked.sheet-block + span::before {
    color: black;
}

/* Hide individual locations per hit tables */
input[type="checkbox"].sheet-location-display-loc2to7-toggle:not(:checked) ~ table tr.sheet-location-display-loc2to7 {
    display: none;
}
input[type="checkbox"].sheet-location-display-loc8-toggle:not(:checked) ~ table tr.sheet-location-display-loc8 {
    display: none;
}
input[type="checkbox"].sheet-location-display-loc9-toggle:not(:checked) ~ table tr.sheet-location-display-loc9 {
    display: none;
}
input[type="checkbox"].sheet-location-display-loc10-toggle:not(:checked) ~ table tr.sheet-location-display-loc10 {
    display: none;
}
input[type="checkbox"].sheet-location-display-loc11-toggle:not(:checked) ~ table tr.sheet-location-display-loc11 {
    display: none;
}
input[type="checkbox"].sheet-location-display-loc12-toggle:not(:checked) + table tr.sheet-location-display-loc12 {
    display: none;
}
input[type="checkbox"].sheet-location-display-toggle:not(:checked) + .sheet-location-display {
    display: none;
}

/* Wounds */
textarea.sheet-hit-locations-note {
    height: 195px;
    width: 100%;
    margin-bottom: 5px;
}
textarea.sheet-hit-locations-note-7 {
    height: 75px;
    width: 100%;
    margin-bottom: 5px;
}
textarea.sheet-hit-locations-note-8 {
    height: 55px;
    width: 100%;
    margin-bottom: 5px;
}
textarea.sheet-hit-locations-note-9 {
    height: 35px;
    width: 100%;
    margin-bottom: 5px;
}