<!-- TODO: auto expanded textareas -->

<div class="sheet-section">
    <h2 data-i18n="background">Background</h2>

    <div class="sheet-flex sheet-bmargin">
        <div class="sheet-half-col sheet-rmargin">
            <label class="sheet-left" data-i18n="organizations">Organizations</label>
            <textarea class="sheet-background-notes sheet-usrnotes" title="@{cults_notes}" name="attr_cults_notes"></textarea>
        </div>
        <div class="sheet-half-col">
            <label class="sheet-left" data-i18n="contacts">Contacts</label>
            <textarea class="sheet-background-notes sheet-usrnotes" title="@{contacts_notes}" name="attr_contacts_notes"></textarea>
        </div>
    </div>

    <div class="sheet-flex sheet-bmargin">
        <div class="sheet-half-col sheet-rmargin">
            <label class="sheet-left" data-i18n="community">Community</label>
            <textarea class="sheet-background-notes sheet-usrnotes" title="@{community_notes}" name="attr_community_notes"></textarea>
        </div>
        <div class="sheet-half-col">
            <label class="sheet-left" data-i18n="allies">Allies</label>
            <textarea class="sheet-background-notes sheet-usrnotes" title="@{allies_notes}" name="attr_allies_notes"></textarea>
        </div>
    </div>

    <div class="sheet-flex sheet-bmargin">
        <div class="sheet-half-col sheet-rmargin">
            <label class="sheet-left" data-i18n="family">Family</label>
            <textarea class="sheet-background-notes sheet-usrnotes" title="@{family_notes}" name="attr_family_notes"></textarea>
        </div>
        <div class="sheet-half-col">
            <label class="sheet-left" data-i18n="enemies">Enemies</label>
            <textarea class="sheet-background-notes sheet-usrnotes" title="@{enemies_notes}" name="attr_enemies_notes"></textarea>
        </div>
    </div>
</div>