<div class="sheet-section">
    <h2 data-i18n="background">Background</h2>

    <div class="sheet-flex sheet-bmargin">
        <div class="sheet-half-col sheet-rmargin">
            <div><label class="sheet-left" data-i18n="organizations">Organizations</label></div>
            <div class="sheet-edit"><textarea class="sheet-full-width" title="@{cults_notes}" name="attr_cults_notes"></textarea></div>
            <div class="sheet-play"><span class="sheet-usrnotes" name="attr_cults_notes"></span></div>
        </div>
        <div class="sheet-half-col">
            <div><label class="sheet-left" data-i18n="contacts">Contacts</label></div>
            <div class="sheet-edit"><textarea class="sheet-full-width" title="@{contacts_notes}" name="attr_contacts_notes"></textarea></div>
            <div class="sheet-play"><span class="sheet-usrnotes" name="attr_contacts_notes"></span></div>
        </div>
    </div>

    <div class="sheet-flex sheet-bmargin">
        <div class="sheet-half-col sheet-rmargin">
            <div><label class="sheet-left" data-i18n="community">Community</label></div>
            <div class="sheet-edit"><textarea class="sheet-full-width" title="@{community_notes}" name="attr_community_notes"></textarea></div>
            <div class="sheet-play"><span class="sheet-usrnotes" name="attr_community_notes"></span></div>
        </div>
        <div class="sheet-half-col">
            <div><label class="sheet-left" data-i18n="allies">Allies</label></div>
            <div class="sheet-edit"><textarea class="sheet-full-width" title="@{allies_notes}" name="attr_allies_notes"></textarea></div>
            <div class="sheet-play"><span class="sheet-usrnotes" name="attr_allies_notes"></span></div>
        </div>
    </div>

    <div class="sheet-flex sheet-bmargin">
        <div class="sheet-half-col sheet-rmargin">
            <div><label class="sheet-left" data-i18n="family">Family</label></div>
            <div class="sheet-edit"><textarea class="sheet-full-width" title="@{family_notes}" name="attr_family_notes"></textarea></div>
            <div class="sheet-play"><span class="sheet-usrnotes" name="attr_family_notes"></span></div>
        </div>
        <div class="sheet-half-col">
            <div><label class="sheet-left" data-i18n="enemies">Enemies</label></div>
            <div class="sheet-edit"><textarea class="sheet-full-width" title="@{enemies_notes}" name="attr_enemies_notes"></textarea></div>
            <div class="sheet-play"><span class="sheet-usrnotes" name="attr_enemies_notes"></span></div>
        </div>
    </div>
</div>