/* Conflict Mode Toggles */
input.sheet-conflict-toggle:not([value="combat"]) ~ div .sheet-combat,
input.sheet-conflict-toggle:not([value="combat"]) ~ div.sheet-combat,
input.sheet-conflict-toggle:not([value="extended_conflict"]) ~ div .sheet-extended-conflict,
input.sheet-conflict-toggle:not([value="social_conflict"]) ~ div .sheet-social-conflict,
input.sheet-conflict-toggle:not([value="spirit_combat"]) ~ div .sheet-spirit-combat {
    display: none;
}
input.sheet-extended-conflict-enabled-toggle:not([value="1"]) ~ select option.sheet-extended-conflict-enabled,
input.sheet-social-conflict-enabled-toggle:not([value="1"]) ~ select option.sheet-social-conflict-enabled,
input.sheet-spirits-enabled-toggle:not([value="1"]) ~ select option.sheet-spirits-enabled {
    display: none;
}

/* Character Header Styles */
div.sheet-info-age{
    width: 40px;
}
div.sheet-info-gender{
    width: 70px;
}
div.sheet-info-frame{
    width: 70px;
}
div.sheet-info-weight{
    width: 60px;
}
div.sheet-info-height{
    width: 60px;
}
div.sheet-info-rank {
    width: 50px;
}
div.sheet-info-the-soot {
    width: 70px;
}

div.sheet-logo {
    display: flex;
    flex-direction: column;
    width: 175px;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* Characteristics */
div.sheet-char-label {
    background: black;
    color: lightgray;
    font-family: "Sorts Mill Goudy", serif;
    text-align: left;
}
body.sheet-darkmode div.sheet-char-label {
    background: lightgray;
    color: black;
}

/* Attributes */
div.sheet-custom-movement {
    width: 88px;
}

/* Hit Locations */
input.sheet-location-name {
    width: 145px;
}

/* SKills */
input.sheet-skill-details:not([value="1"]) ~ div .sheet-skill-details {
    display: none;
}
textarea.sheet-skill-notes {
    height: 36px;
}
button[type=roll].sheet-improve {
    font-family: "Pictos";
    right: 29px;
    top: 0;
}
button[type=action].sheet-social-defense {
    font-family: "Pictos";
    right: 43px;
    top: 1px;
}
button[type=action].sheet-social-attack {
    font-family: "Pictos";
    right: 58px;
    top: 1px;
}
input.sheet-conflict-toggle:not([value="social_conflict"]) ~ div .sheet-social-defense,
input.sheet-conflict-toggle:not([value="social_conflict"]) ~ div .sheet-social-attack {
    display: none;
}



/* Equipment */
.sheet-weapon-name {
    width: 140px;
    text-align: center;
}
.sheet-weapon-damage {
    width: 64px;
    text-align: center;
}
.sheet-weapon-size {
    width: 38px;
    text-align: center;
}
.sheet-weapon-reach {
    width: 72px;
    text-align: center;
}
.sheet-equipment-location {
    width: 80px;
    text-align: center;
}
textarea.sheet-gear-note {
    height: 54px;
}
textarea.sheet-wealth-notes {
    height: 36px;
}

/* Background */
textarea.sheet-background-notes {
    width: 100%;
    height: 7.5em;
}

/* Notes */
textarea.sheet-character-notes {
    width: 100%;
    height: 30em;
}