<div class="sheet-detailed">
    <!-- Character Header -->
    <div class="sheet-flex sheet-gap">
        <!-- Info Section -->
        <div class="sheet-section sheet-grow">
            <!-- Info 1st Row -->
            <div class="sheet-flex sheet-gap">
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{character_name}" name="attr_character_name">
                    <label data-i18n="name">Name</label>
                </div>
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{species}" name="attr_species">
                    <span class="sheet-setting-option sheet-not-cf"><label data-i18n="species">Species</label></span>
                    <span class="sheet-setting-option sheet-cf"><label data-i18n="race">Race</label></span>
                </div>
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{culture}" name="attr_culture">
                    <label data-i18n="culture">Culture</label>
                </div>
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{career}" name="attr_career">
                    <span class="sheet-setting-option sheet-not-cf"><label data-i18n="career">Career</label></span>
                    <span class="sheet-setting-option sheet-cf"><label data-i18n="class">Class</label></span>
                </div>
                <div class="sheet-setting-option sheet-cf sheet-info-rank">
                    <input type="number" class="sheet-full-width" title="@{rank}" name="attr_rank" value="0">
                    <label data-i18n="rank">Rank</label>
                </div>
            </div>
            <!-- Info 2nd Row -->
            <div class="sheet-flex sheet-gap">
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{homeland}" name="attr_homeland">
                    <label data-i18n="homeland">Homeland</label>
                </div>
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{social_class}" name="attr_social_class">
                    <label data-i18n="social_class">Name</label>
                </div>
                <div class="sheet-info-age">
                    <input type="number" class="sheet-full-width" title="@{age}" name="attr_age" value="0">
                    <label data-i18n="age">Age</label>
                </div>
                <div class="sheet-info-gender">
                    <input type="text" class="sheet-full-width" title="@{gender}" name="attr_gender">
                    <label data-i18n="gender">Gender</label>
                </div>
                <div class="sheet-info-frame">
                    <input type="text" class="sheet-full-width" title="@{frame}" name="attr_frame">
                    <label data-i18n="frame">Gender</label>
                </div>
                <div class="sheet-info-height">
                    <input type="number" style="padding-right: 25px" class="sheet-full-width" title="@{height}" name="attr_height" value="178">
                    <span class="sheet-input-unit" data-i18n="centimetres-abrv">cm</span>
                    <label data-i18n="height-bugfix">Height</label>
                </div>
                <div class="sheet-info-weight">
                    <input type="number" style="padding-right: 20px" class="sheet-full-width" title="@{weight}" name="attr_weight" value="88">
                    <span class="sheet-input-unit" data-i18n="kilograms-abrv">kg</span>
                    <label data-i18n="weight">Weight</label>
                </div>
                <!-- TODO make the soot rollable ? -->
                <div class="sheet-setting-option sheet-os sheet-info-the-soot">
                    <input type="number" class="sheet-full-width" title="@{the_soot}" name="attr_the_soot" value="0">
                    <label data-i18n="the_soot">The Soot</label>
                </div>
            </div>
        </div>

        <!-- Header 2nd Column -->
        <div class="sheet-logo">
            <!-- Logo -->
            <div>
                <img class="sheet-setting-option sheet-default sheet-atvw sheet-cf sheet-destined sheet-fioracitta sheet-la sheet-lyonesse sheet-mi sheet-mba sheet-mb sheet-mc sheet-mr sheet-imperative sheet-perceforest sheet-thennla sheet-wu" src="https://i.imgur.com/EzQDmms.png" alt="Mythras">
                <img class="sheet-setting-option sheet-ms" src="https://i.imgur.com/5uPy3QU.jpg" alt="M-Space">
                <img class="sheet-setting-option sheet-os" src="https://i.imgur.com/35dOQix.jpg" alt="Odd Soot">
            </div>
            <!-- Experience Rolls -->
            <div class="sheet-flex sheet-gap">
                <label class="sheet-left" data-i18n="experience_rolls">Experience Rolls</label>
                <input type="number" class="sheet-grow" title="@{experience_rolls}" name="attr_experience_rolls" value="0">
            </div>
        </div>
    </div>

    <!-- Core Section -->
    <div class="sheet-flex sheet-gap">
        <!-- Characteristics -->
        <div class="sheet-section">
            <h2 data-i18n="characteristics">Characteristics</h2>

            <input class="sheet-deep-toggle" type='hidden' name='attr_extended_conflict_enabled' value="0">
            <div class="sheet-table">
                <div class="sheet-tr">
                    <div class="sheet-th"></div>
                    <div class="sheet-th" data-i18n="base">Base</div>
                    <div class="sheet-th" data-i18n-title="current" data-i18n="current-abrv">Curr</div>
                </div>

                <!-- STR -->
                <div class="sheet-tr sheet-hl sheet-creature">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="str-u">STR</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{str_base}" name="attr_str_base" value="11"></div>
                    <div class="sheet-td">
                        <input type="number" class="sheet-impval sheet-number-width sheet-anti-toggle" title="@{str}" name="attr_str" value="11">
                        <div class="sheet-impval sheet-number-width sheet-toggle"><input type="number" class="sheet-lval" title="@{str_pool}" name="attr_str_pool" value="11">/<input type="number" class="sheet-rval" title="@{str}" name="attr_str" value="11"></div>
                    </div>
                    <input type="hidden" name="attr_str_temp" value="0">
                </div>

                <!-- CON -->
                <div class="sheet-tr sheet-hl sheet-creature">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="con-u">CON</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{con_base}" name="attr_con_base" value="11"></div>
                    <div class="sheet-td">
                        <input type="number" class="sheet-impval sheet-number-width sheet-anti-toggle" title="@{con}" name="attr_con" value="11">
                        <div class="sheet-impval sheet-number-width sheet-toggle"><input type="number" class="sheet-lval" title="@{con_pool}" name="attr_con_pool" value="11">/<input type="number" class="sheet-rval" title="@{con}" name="attr_con" value="11"></div>
                    </div>
                    <input type="hidden" name="attr_con_temp" value="0">
                </div>

                <!-- SIZ -->
                <div class="sheet-tr sheet-hl sheet-creature">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="siz-u">SIZ</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{siz_base}" name="attr_siz_base" value="13"></div>
                    <div class="sheet-td">
                        <input type="number" class="sheet-impval sheet-number-width sheet-anti-toggle" title="@{siz}" name="attr_siz" value="13">
                        <div class="sheet-impval sheet-number-width sheet-toggle"><input type="number" class="sheet-lval" title="@{siz_pool}" name="attr_siz_pool" value="13">/<input type="number" class="sheet-rval" title="@{siz}" name="attr_siz" value="13"></div>
                    </div>
                    <input type="hidden" name="attr_siz_temp" value="0">
                </div>

                <!-- DEX -->
                <div class="sheet-tr sheet-hl sheet-creature">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="dex-u">DEX</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{dex_base}" name="attr_dex_base" value="11"></div>
                    <div class="sheet-td">
                        <input type="number" class="sheet-impval sheet-number-width sheet-anti-toggle" title="@{dex}" name="attr_dex" value="11">
                        <div class="sheet-impval sheet-number-width sheet-toggle"><input type="number" class="sheet-lval" title="@{dex_pool}" name="attr_dex_pool" value="11">/<input type="number" class="sheet-rval" title="@{dex}" name="attr_dex" value="11"></div>
                    </div>
                    <input type="hidden" name="attr_dex_temp" value="0">
                </div>

                <!-- INT -->
                <div class="sheet-tr sheet-hl">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left"><span name="attr_int_type" data-i18n-dynamic>INT</span></label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{int_base}" name="attr_int_base" value="13"></div>
                    <div class="sheet-td">
                        <input type="number" class="sheet-impval sheet-number-width sheet-anti-toggle" title="@{int}" name="attr_int" value="13">
                        <div class="sheet-impval sheet-number-width sheet-toggle"><input type="number" class="sheet-lval" title="@{int_pool}" name="attr_int_pool" value="13">/<input type="number" class="sheet-rval" title="@{int}" name="attr_int" value="13"></div>
                    </div>
                    <input type="hidden" name="attr_int_temp" value="0">
                </div>

                <!-- POW -->
                <div class="sheet-tr sheet-hl">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="pow-u">POW</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{pow_base}" name="attr_pow_base" value="11"></div>
                    <div class="sheet-td">
                        <input type="number" class="sheet-impval sheet-number-width sheet-anti-toggle" title="@{pow}" name="attr_pow" value="11">
                        <div class="sheet-impval sheet-number-width sheet-toggle"><input type="number" class="sheet-lval" title="@{pow_pool}" name="attr_pow_pool" value="11">/<input type="number" class="sheet-rval" title="@{pow}" name="attr_pow" value="11"></div>
                    </div>
                    <input type="hidden" name="attr_pow_temp" value="0">
                </div>

                <!-- CHA -->
                <div class="sheet-tr sheet-hl">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="cha-u">CHA</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{cha_base}" name="attr_cha_base" value="11"></div>
                    <div class="sheet-td">
                        <input type="number" class="sheet-impval sheet-number-width sheet-anti-toggle" title="@{cha}" name="attr_cha" value="11">
                        <div class="sheet-impval sheet-number-width sheet-toggle"><input type="number" class="sheet-lval" title="@{cha_pool}" name="attr_cha_pool" value="11">/<input type="number" class="sheet-rval" title="@{cha}" name="attr_cha" value="11"></div>
                    </div>
                    <input type="hidden" name="attr_cha_temp" value="0">
                </div>
            </div>
            <div class="sheet-space-between sheet-gap sheet-toggle">
                <div>
                    <label class="sheet-left" data-i18n-title="conflict_pool" data-i18n="pool">Pool</label>
                    <input type="number" class="sheet-number-width-sm" title="@{conflict_pool}" name="attr_conflict_pool" value="11">/<input type="number" class="sheet-bold sheet-number-width-sm" title="@{conflict_pool|max}" name="attr_conflict_pool_max" value="11">
                </div>
                <div>
                    <button class="sheet-die" type="roll" title="%{extended_conflict_damage}" name="roll_extended_conlict_damage" value="{{'@{roll_display}&{template:default} {{red=1}} {{name=^{extended_conflict_damage}}} {{character=@{character_name}}} {{^{damage}=[[1d6]]}}'}}"><span class="sheet-d6">F</span></button>
                </div>
            </div>
        </div>

        <!-- Attributes -->
        <div class="sheet-section">
            <div class="sheet-space-between">
                <h2 data-i18n="attributes">Attributes</h2>
                <a class="sheet-pictos" data-i18n-title="show_attributes_popup" href="#attribute-configuration">y</a>
            </div>

            <div class="sheet-flex">
                <div class="sheet-th sheet-grow" data-i18n="attribute">Attribute</div>
                <div class="sheet-th"><div data-i18n-title="base-asterisks" class="sheet-number-width sheet-help"><span data-i18n="base">Base</span>*</div></div>
                <div class="sheet-th"><div class="sheet-number-width" data-i18n="current-abrv">Cur</div></div>
            </div>

            <!-- TODO check attribute-order when done -->
            <div data-i18n-list="attribute-order">
                <!-- Action Points -->
                <div data-i18n-list-item="action_points" class="sheet-flex sheet-hl sheet-creature">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="action_points">Action Points</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{action_points_base}" name="attr_action_points_base" value="2" readonly></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{action_points}" name="attr_action_points" value="2">/<input type="number" class="sheet-rval" title="@{action_points|max}" name="attr_action_points_max" value="2"></div></div>
                </div>

                <!-- Damage Modifier TODO make damage mod rollable-->
                <div data-i18n-list-item="damage_modifier" class="sheet-flex sheet-hl sheet-creature">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n-title="damage_modifier" data-i18n="damage_modifier-abrv">Damage Mod</label></div>
                    <div class="sheet-td">
                        <select class="sheet-dullval sheet-number-width sheet-readonly sheet-text-center" title="@{damage_mod_base}" name="attr_damage_mod_base">
                            <option value="-4">-1d8</option>
                            <option value="-3">-1d6</option>
                            <option value="-2">-1d4</option>
                            <option value="-1">-1d2</option>
                            <option value="0" selected>0</option>
                            <option value="1">1d2</option>
                            <option value="2">1d4</option>
                            <option value="3">1d6</option>
                            <option value="4">1d8</option>
                            <option value="5">1d10</option>
                            <option value="6">1d12</option>
                            <option value="7">2d6</option>
                            <option value="8">d8+d6</option>
                            <option value="9">2d8</option>
                            <option value="10">d10+d8</option>
                            <option value="11">2d10</option>
                            <option value="12">2d10+d2</option>
                            <option value="13">2d10+d4</option>
                            <option value="14">2d10+d6</option>
                            <option value="15">2d10+d8</option>
                            <option value="16">3d10</option>
                            <option value="17">3d10+d2</option>
                            <option value="18">3d10+d4</option>
                            <option value="19">3d10+d6</option>
                            <option value="20">3d10+d8</option>
                        </select>
                    </div>
                    <div class="sheet-td">
                        <select class="sheet-impval sheet-number-width sheet-text-center" title="@{damage_mod}" name="attr_damage_mod">
                            <option value="-4">-1d8</option>
                            <option value="-3">-1d6</option>
                            <option value="-2">-1d4</option>
                            <option value="-1">-1d2</option>
                            <option value="0" selected>0</option>
                            <option value="1">1d2</option>
                            <option value="2">1d4</option>
                            <option value="3">1d6</option>
                            <option value="4">1d8</option>
                            <option value="5">1d10</option>
                            <option value="6">1d12</option>
                            <option value="7">2d6</option>
                            <option value="8">d8+d6</option>
                            <option value="9">2d8</option>
                            <option value="10">d10+d8</option>
                            <option value="11">2d10</option>
                            <option value="12">2d10+d2</option>
                            <option value="13">2d10+d4</option>
                            <option value="14">2d10+d6</option>
                            <option value="15">2d10+d8</option>
                            <option value="16">3d10</option>
                            <option value="17">3d10+d2</option>
                            <option value="18">3d10+d4</option>
                            <option value="19">3d10+d6</option>
                            <option value="20">3d10+d8</option>
                        </select>
                    </div>
                </div>

                <!-- Experience Modifier -->
                <div data-i18n-list-item="experience_modifier" class="sheet-flex sheet-hl sheet-major">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n-title="experience_modifier" data-i18n="experience-abrv_modifier">Exp Modifier</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{experience_mod_base}" name="attr_experience_mod_base" value="0" readonly></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{experience_mod}" name="attr_experience_mod" value="0"></div>
                </div>

                <!-- Healing Rate -->
                <div data-i18n-list-item="healing_rate" class="sheet-flex sheet-hl sheet-creature">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="healing_rate">Healing Rate</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{healing_rate_base}" name="attr_healing_rate_base" value="2" readonly></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{healing_rate}" name="attr_healing_rate" value="2"></div>
                </div>

                <!-- Initiative -->
                <div data-i18n-list-item="initiative" class="sheet-flex sheet-hl sheet-creature">
                    <div class="sheet-td sheet-grow sheet-text-left"><button type="roll" class="sheet-label-left" title="%{initiative}" name="roll_initiative" value="{{'@{roll_display}&{template:default} {{yellow=1}} {{character=@{character_name}}} {{name=^{initiative}}} {{^{roll}=[[@{init_dice} + @{initiative_bonus} &{tracker}]]}}'}}" data-i18n="initiative">Initiative</button></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{initiative_bonus_base}" name="attr_initiative_bonus_base" value="12" readonly></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{initiative_bonus}" name="attr_initiative_bonus" value="12"></div>
                </div>

                <!-- Luck Points -->
                <div data-i18n-list-item="luck_points" class="sheet-flex sheet-hl sheet-major">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="luck_points">Luck Points</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{luck_points_base}" name="attr_luck_points_base" value="2" readonly></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{luck_points}" name="attr_luck_points" value="2">/<input type="number" class="sheet-rval" title="@{luck_points|max}" name="attr_luck_points_max" value="2"></div></div>
                </div>

                <!-- Magic Points -->
                <div data-i18n-list-item="magic_points" class="sheet-flex sheet-hl">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="magic_points">Magic Points</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{magic_points_base}" name="attr_magic_points_base" value="11" readonly></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{magic_points}" name="attr_magic_points" value="11">/<input type="number" class="sheet-rval" title="@{magic_points|max}" name="attr_magic_points_max" value="11"></div></div>
                </div>

                <!-- Movement Rate -->
                <!-- TODO movement_rate-base is a new value -->
                <div data-i18n-list-item="movement" class="sheet-hl">
                    <input type="hidden" class="sheet-wide-toggle" name="attr_custom_movement_enabled" value="0">
                    <div class="sheet-flex sheet-anti-toggle">
                        <div class="sheet-td sheet-grow sheet-text-left"><a class="sheet-label-left" data-i18n-title="show_movement_popup" data-i18n="movement" href="#movement-details">Movement</a></div>
                        <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{movement_rate_base}" name="attr_movement_rate_base" value="6" readonly></div>
                        <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{movement_rate}" name="attr_movement_rate" value="6"></div>
                    </div>
                    <!-- Custom Movement Alternative -->
                    <div class="sheet-flex sheet-toggle sheet-full-width">
                        <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="movement">Movement</label></div>
                        <div class="sheet-td sheet-custom-movement"><input type="text" class="sheet-full-width sheet-text-right" title="@{custom_movement}" name="attr_custom_movement"></div>
                    </div>
                </div>

                <!-- Tenacity -->
                <input type="hidden" class="sheet-toggle" name="attr_tenacity_enabled" value="0">
                <div data-i18n-list-item="tenacity" class="sheet-flex sheet-hl sheet-toggle">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="tenacity">Tenacity</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{tenacity_base}" name="attr_tenacity_base" value="11" readonly></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{tenacity}" name="attr_tenacity" value="11">/<input type="number" class="sheet-rval" title="@{tenacity|max}" name="attr_tenacity_max" value="11"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>