<div class="sheet-detailed">
    <!-- Character Header -->
    <div class="sheet-flex sheet-gap">
        <!-- Info Section -->
        <div class="sheet-section sheet-grow">
            <!-- Info 1st Row -->
            <div class="sheet-flex sheet-gap">
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{character_name}" name="attr_character_name">
                    <label data-i18n="name">Name</label>
                </div>
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{species}" name="attr_species">
                    <span class="sheet-setting-option sheet-not-cf"><label data-i18n="species">Species</label></span>
                    <span class="sheet-setting-option sheet-cf"><label data-i18n="race">Race</label></span>
                </div>
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{culture}" name="attr_culture">
                    <label data-i18n="culture">Culture</label>
                </div>
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{career}" name="attr_career">
                    <span class="sheet-setting-option sheet-not-cf"><label data-i18n="career">Career</label></span>
                    <span class="sheet-setting-option sheet-cf"><label data-i18n="class">Class</label></span>
                </div>
                <div class="sheet-setting-option sheet-cf sheet-info-rank">
                    <input type="number" class="sheet-full-width" title="@{rank}" name="attr_rank" value="0">
                    <label data-i18n="rank">Rank</label>
                </div>
            </div>
            <!-- Info 2nd Row -->
            <div class="sheet-flex sheet-gap">
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{homeland}" name="attr_homeland">
                    <label data-i18n="homeland">Homeland</label>
                </div>
                <div class="sheet-grow">
                    <input type="text" class="sheet-full-width" title="@{social_class}" name="attr_social_class">
                    <label data-i18n="social_class">Name</label>
                </div>
                <div class="sheet-info-age">
                    <input type="number" class="sheet-full-width" title="@{age}" name="attr_age" value="0">
                    <label data-i18n="age">Age</label>
                </div>
                <div class="sheet-info-gender">
                    <input type="text" class="sheet-full-width" title="@{gender}" name="attr_gender">
                    <label data-i18n="gender">Gender</label>
                </div>
                <div class="sheet-info-frame">
                    <input type="text" class="sheet-full-width" title="@{frame}" name="attr_frame">
                    <label data-i18n="frame">Gender</label>
                </div>
                <div class="sheet-info-height">
                    <input type="number" style="padding-right: 25px" class="sheet-full-width" title="@{height}" name="attr_height" value="178">
                    <span class="sheet-input-unit" data-i18n="centimetres-abrv">cm</span>
                    <label data-i18n="height-bugfix">Height</label>
                </div>
                <div class="sheet-info-weight">
                    <input type="number" style="padding-right: 20px" class="sheet-full-width" title="@{weight}" name="attr_weight" value="88">
                    <span class="sheet-input-unit" data-i18n="kilograms-abrv">kg</span>
                    <label data-i18n="weight">Weight</label>
                </div>
                <!-- TODO make the soot rollable ? -->
                <div class="sheet-setting-option sheet-os sheet-info-the-soot">
                    <input type="number" class="sheet-full-width" title="@{the_soot}" name="attr_the_soot" value="0">
                    <label data-i18n="the_soot">The Soot</label>
                </div>
            </div>
        </div>

        <!-- Header 2nd Column -->
        <div class="sheet-logo">
            <!-- Logo -->
            <div>
                <img class="sheet-setting-option sheet-default sheet-atvw sheet-cf sheet-destined sheet-fioracitta sheet-la sheet-lyonesse sheet-mi sheet-mba sheet-mb sheet-mc sheet-mr sheet-imperative sheet-perceforest sheet-thennla sheet-wu" src="https://i.imgur.com/EzQDmms.png" alt="Mythras">
                <img class="sheet-setting-option sheet-ms" src="https://i.imgur.com/5uPy3QU.jpg" alt="M-Space">
                <img class="sheet-setting-option sheet-os" src="https://i.imgur.com/35dOQix.jpg" alt="Odd Soot">
            </div>
            <!-- Experience Rolls -->
            <div class="sheet-flex sheet-gap">
                <label class="sheet-left" data-i18n="experience_rolls">Experience Rolls</label>
                <input type="number" class="sheet-grow" title="@{experience_rolls}" name="attr_experience_rolls" value="0">
            </div>
        </div>
    </div>

    <!-- Core Section -->
    <div class="sheet-flex sheet-gap">
        <!-- Characteristics -->
        <div class="sheet-section">
            <div class="sheet-space-between">
                <h2 data-i18n="characteristics">Characteristics</h2>
                <div><input type='checkbox' data-i18n-title="show_base_values" name='attr_characteristics_details' value="1" checked><span class="sheet-checkico">E</span></div>
            </div>

            <input class="sheet-deep-toggle" type='hidden' name='attr_characteristics_details' value="1">
            <div class="sheet-table">
                <div class="sheet-tr">
                    <div class="sheet-th"></div>
                    <div class="sheet-th sheet-toggle" data-i18n="base">Base</div>
                    <div class="sheet-th" data-i18n-title="temporary" data-i18n="temporary-abrv">Temp</div>
                    <div class="sheet-th" data-i18n-title="current" data-i18n="current-abrv">Curr</div>
                </div>

                <!-- STR -->
                <div class="sheet-tr sheet-creature">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="str-u">STR</label></div>
                    <div class="sheet-td sheet-toggle"><input type="number" class="sheet-dullval sheet-number-width" title="@{str_base}" name="attr_str_base" value="11"></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{str_temp}" name="attr_str_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{str}" name="attr_str" value="11" readonly></div>
                </div>

                <!-- CON -->
                <div class="sheet-tr sheet-creature">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="con-u">CON</label></div>
                    <div class="sheet-td sheet-toggle"><input type="number" class="sheet-dullval sheet-number-width" title="@{con_base}" name="attr_con_base" value="11"></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{con_temp}" name="attr_con_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{con}" name="attr_con" value="11" readonly></div>
                </div>

                <!-- SIZ -->
                <div class="sheet-tr sheet-creature">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="siz-u">SIZ</label></div>
                    <div class="sheet-td sheet-toggle"><input type="number" class="sheet-dullval sheet-number-width" title="@{siz_base}" name="attr_siz_base" value="13"></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{siz_temp}" name="attr_siz_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{siz}" name="attr_siz" value="13" readonly></div>
                </div>

                <!-- DEX -->
                <div class="sheet-tr sheet-creature">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="dex-u">DEX</label></div>
                    <div class="sheet-td sheet-toggle"><input type="number" class="sheet-dullval sheet-number-width" title="@{dex_base}" name="attr_dex_base" value="11"></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{dex_temp}" name="attr_dex_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{dex}" name="attr_dex" value="11" readonly></div>
                </div>

                <!-- INT -->
                <div class="sheet-tr">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left"><span name="attr_int_type" data-i18n-dynamic>INT</span></label></div>
                    <div class="sheet-td sheet-toggle"><input type="number" class="sheet-dullval sheet-number-width" title="@{int_base}" name="attr_int_base" value="13"></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{int_temp}" name="attr_int_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{int}" name="attr_int" value="13" readonly></div>
                </div>

                <!-- POW -->
                <div class="sheet-tr">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="pow-u">POW</label></div>
                    <div class="sheet-td sheet-toggle"><input type="number" class="sheet-dullval sheet-number-width" title="@{pow_base}" name="attr_pow_base" value="11"></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{pow_temp}" name="attr_pow_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{pow}" name="attr_pow" value="11" readonly></div>
                </div>

                <!-- CHA -->
                <div class="sheet-tr">
                    <div class="sheet-td sheet-char-label"><label class="sheet-left" data-i18n="cha-u">CHA</label></div>
                    <div class="sheet-td sheet-toggle"><input type="number" class="sheet-dullval sheet-number-width" title="@{cha_base}" name="attr_cha_base" value="11"></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{cha_temp}" name="attr_cha_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{cha}" name="attr_cha" value="11" readonly></div>
                </div>
            </div>
        </div>

        <!-- Attributes -->
        <div class="sheet-section">
            <div class="sheet-space-between">
                <h2 data-i18n="attributes">Attributes</h2>
                <a class="sheet-pictos" data-i18n-title="show_attributes_popup" href="#attribute-configuration">y</a>
            </div>

            <div class="sheet-flex">
                <div class="sheet-th sheet-grow" data-i18n="attribute">Attribute</div>
                <div class="sheet-th"><div class="sheet-number-width" data-i18n-title="temporary" data-i18n="temporary-abrv">Temp</div></div>
                <div class="sheet-th"><div class="sheet-number-width" data-i18n-title="current" data-i18n="current-abrv">Curr</div></div>
            </div>

            <!-- TODO check attribute-order when done -->
            <div data-i18n-list="attribute-order">
                <!-- Action Points -->
                <div data-i18n-list-item="action_points" class="sheet-flex sheet-hl sheet-creature">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="action_points">Action Points</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{action_points_temp}" name="attr_action_points_temp" value="0"></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{action_points}" name="attr_action_points" value="2">/<input type="number" class="sheet-rval" title="@{action_points|max}" name="attr_action_points_max" value="2" readonly></div></div>
                </div>

                <!-- Damage Modifier TODO make damage mod rollable-->
                <div data-i18n-list-item="damage_modifier" class="sheet-flex sheet-hl sheet-creature">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n-title="damage_modifier" data-i18n="damage_modifier-abrv">Damage Mod</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{damage_mod_temp}" name="attr_damage_mod_temp" value="0"></div>
                    <div class="sheet-td"><input type="text" class="sheet-impval sheet-number-width" title="@{damage_mod}" name="attr_damage_mod" value="0" readonly></div>
                </div>

                <!-- Experience Modifier -->
                <div data-i18n-list-item="experience_modifier" class="sheet-flex sheet-hl sheet-major">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n-title="experience_modifier" data-i18n="experience-abrv_modifier">Exp Modifier</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{experience_mod_temp}" name="attr_experience_mod_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{experience_mod}" name="attr_experience_mod" value="0" readonly></div>
                </div>

                <!-- Healing Rate -->
                <div data-i18n-list-item="healing_rate" class="sheet-flex sheet-hl sheet-creature">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="healing_rate">Healing Rate</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{healing_rate_temp}" name="attr_healing_rate_temp" value="2"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{healing_rate}" name="attr_healing_rate" value="2" readonly></div>
                </div>

                <!-- Initiative -->
                <div data-i18n-list-item="initiative" class="sheet-flex sheet-hl sheet-creature">
                    <div class="sheet-td sheet-grow sheet-text-left"><button type="roll" class="sheet-label-left" title="%{initiative}" name="roll_initiative" value="{{'@{roll_display}&{template:default} {{yellow=1}} {{character=@{character_name}}} {{name=^{initiative}}} {{^{roll}=[[@{init_dice} + @{initiative_bonus} &{tracker}]]}}'}}" data-i18n="initiative">Initiative</button></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{initiative_bonus_temp}" name="attr_initiative_bonus_temp" value="0"></div>
                    <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{initiative_bonus}" name="attr_initiative_bonus" value="12" readonly></div>
                </div>

                <!-- Luck Points -->
                <div data-i18n-list-item="luck_points" class="sheet-flex sheet-hl sheet-major">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="luck_points">Luck Points</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{luck_points_temp}" name="attr_luck_points_temp" value="0"></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{luck_points}" name="attr_luck_points" value="2">/<input type="number" class="sheet-rval" title="@{luck_points|max}" name="attr_luck_points_max" value="2" readonly></div></div>
                </div>

                <!-- Magic Points -->
                <div data-i18n-list-item="magic_points" class="sheet-flex sheet-hl">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="magic_points">Magic Points</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{magic_points_temp}" name="attr_magic_points_temp" value="0"></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{magic_points}" name="attr_magic_points" value="11">/<input type="number" class="sheet-rval" title="@{magic_points|max}" name="attr_magic_points_max" value="11" readonly></div></div>
                </div>

                <!-- Movement Rate -->
                <div data-i18n-list-item="movement" class="sheet-hl">
                    <input type="hidden" class="sheet-wide-toggle" name="attr_custom_movement_enabled" value="0">
                    <div class="sheet-flex sheet-anti-toggle">
                        <div class="sheet-td sheet-grow sheet-text-left"><a class="sheet-label-left" data-i18n-title="show_movement_popup" data-i18n="movement" href="#movement-details">Movement</a></div>
                        <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{movement_rate_temp}" name="attr_movement_rate_temp" value="0"></div>
                        <div class="sheet-td"><input type="number" class="sheet-impval sheet-number-width" title="@{movement_rate}" name="attr_movement_rate" value="6" readonly></div>
                    </div>
                    <!-- Custom Movement Alternative -->
                    <div class="sheet-flex sheet-toggle sheet-full-width">
                        <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="movement">Movement</label></div>
                        <div class="sheet-td sheet-custom-movement"><input type="text" class="sheet-full-width sheet-text-right" title="@{custom_movement}" name="attr_custom_movement"></div>
                    </div>
                </div>

                <!-- Tenacity -->
                <input type="hidden" class="sheet-toggle" name="attr_tenacity_enabled" value="0">
                <div data-i18n-list-item="tenacity" class="sheet-flex sheet-hl sheet-toggle">
                    <div class="sheet-td sheet-grow sheet-text-left"><label class="sheet-left" data-i18n="tenacity">Tenacity</label></div>
                    <div class="sheet-td"><input type="number" class="sheet-dullval sheet-number-width" title="@{tenacity_temp}" name="attr_tenacity_temp" value="0"></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{tenacity}" name="attr_tenacity" value="11">/<input type="number" class="sheet-rval" title="@{tenacity|max}" name="attr_tenacity_max" value="11" readonly></div></div>
                </div>
            </div>
        </div>

        <!-- Hit Locations -->
        <div class="sheet-section">
            <div class="sheet-space-between">
                <h2 data-i18n="hit_locations">Hit Locations</h2>
                <a class="sheet-pictos" data-i18n-title="show_hit_locations_popup" href="#hit-locations-configuration">y</a>
            </div>

            <div class="sheet-table">
                <div class="sheet-tr">
                    <div class="sheet-th">d20</div>
                    <div class="sheet-th" data-i18n="hit_location">Hit Location</div>
                    <div class="sheet-th sheet-help sheet-pictos-three" data-i18n-title="passive_block_size">b</div>
                    <div class="sheet-th sheet-help" data-i18n-title="armor_points" data-i18n="armor_points-abrv">AP</div>
                    <div class="sheet-th sheet-help" data-i18n-title="hit_points" data-i18n="hit_points-abrv">HP</div>
                    <div class="sheet-th sheet-minor" data-i18n="enc">ENC</div>
                </div>
                <div class="sheet-tr">
                    <div class="sheet-td"><input type="number" class="sheet-number-width-xs" title="@{location1_table_start}" name="attr_location1_table_start" value="0">-<input type="number" class="sheet-number-width-xs" title="@{location1_table_end}" name="attr_location1_table_end" value="0"></div>
                    <div class="sheet-td"><input type="text" class="sheet-location-name sheet-text-center" title="@{location1_name}" name="attr_location1_name" value=""></div>
                    <div class="sheet-td"><input type="text" class="sheet-number-width-xs" title="@{location1_block}" name="attr_location1_block" value=""></div>
                    <div class="sheet-td"><input type="number" class="sheet-number-width-sm sheet-impval" title="@{location1_ap}" name="attr_location1_ap" step="1" min="0" value="0"></div>
                    <div class="sheet-td"><div class="sheet-impval sheet-number-width"><input type="number" class="sheet-lval" title="@{location1_hp}" name="attr_location1_hp" value="5">/<input type="number" class="sheet-rval" title="@{location1_hp|max}" name="attr_location1_hp_max" value="5" readonly></div></div>
                    <div class="sheet-td sheet-minor"><input type="number" class="sheet-number-width-sm" title="@{location1_armor_enc}" name="attr_location1_armor_enc" step="1" min="0" value="0"></div>
                </div>
            </div>
        </div>

        <!-- Conditions -->
        <div class="sheet-section sheet-flex-column sheet-grow">
            <h2 data-i18n="conditions">Conditions</h2>

            <div class="sheet-bmargin sheet-creature">
                <div class="sheet-flex">
                    <div><a class="sheet-label-left" data-i18n-title="show_fatigue_popup" data-i18n="fatigue" href="#fatigue-details">Fatigue</a></div>
                    <div class="sheet-grow">
                        <select class="sheet-full-width sheet-text-right" title="@{fatigue}" name="attr_fatigue">
                            <option value="9" data-i18n="fresh" selected>Fresh</option>
                            <option value="8" data-i18n="winded">Winded</option>
                            <option value="7" data-i18n="tired">Tired</option>
                            <option value="6" data-i18n="wearied">Wearied</option>
                            <option value="5" data-i18n="exhausted">Exhausted</option>
                            <option value="4" data-i18n="debilitated">Debilitated</option>
                            <option value="3" data-i18n="incapacitated">Incapacitated</option>
                            <option value="2" data-i18n="semi-conscious">Semi-Conscious</option>
                            <option value="1" data-i18n="comatose">Comatose</option>
                            <option value="0" data-i18n="dead">Dead</option>
                        </select>
                    </div>
                </div>

                <div class="sheet-flex sheet-major">
                    <div><label class="sheet-left" data-i18n="load">Load</label></div>
                    <div class="sheet-grow">
                        <select class="sheet-full-width sheet-text-right sheet-readonly" title="@{encumbrance_load}" name="attr_encumbrance_load">
                            <option value="0" data-i18n="normal" selected>Normal</option>
                            <option value="1" data-i18n="medium">Medium</option>
                            <option value="2" data-i18n="strenuous">Strenuous</option>
                            <option value="3" data-i18n="impossible">Impossible</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="sheet-grow">
                <textarea style="height: 100%" name="attr_conditions"></textarea>
            </div>
        </div>
    </div>
</div>